<template>
    <v-app>
        <v-main class="main-container">
            <navigation-drawer
                v-if="user"
                :menu="true"
                :open-menu-mobile="openMenuMobile"
                :logout-url="logoutUrl"
                :menu-options="menuOptions"
                @openOrClose="openOrCloseEvent"
                @logout="logout"
                @postClick="postClick"
            />
            <div class="content">
                <Header
                    v-model="openMenuMobile"
                    :menu="menu"
                    :menu-options="menuOptions"
                    :white-accent="whiteAccent"
                    :with-option-left="optionLeft"
                    @openCloseMenu="openCloseMenu"
                    @closeMenu="closeMenu"
                    @logout="logout"
                    @postClick="postClick"
                />
                <div :class="{ 'container-default': true }">
                    <template>
                        <nuxt />
                    </template>
                </div>
                <v-footer
                    :absolute="!fixed"
                    app
                    class="footer-content"
                >
                    <span>&copy; {{ new Date().getFullYear() }}</span>
                </v-footer>
            </div>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import Header from '@/components/commons/Header.vue';
import NavigationDrawer from '@/components/header/mobile/NavigationDrawer.vue';
import { setSession } from '@/utils/setSession';
import { UserRole, MenuOptions, User } from '@/utils/interfaces';

@Component( {
    components: {
        Header,
        NavigationDrawer
    }
} )
class Default extends Vue {
    openMenuMobile: boolean = false;
    mobileNavHeight: string = '100vh';
    user: User | null = null;
    logoutUrl: string = '';
    showModalCreatePost: boolean = false;
    fixed: boolean = true;
    offerData = {
        solicitante: null,
        categoria: null,
        descripcion: null,
        telefono: null,
        correo: null
    }

    menu: boolean = false

    openCloseMenu () {
        this.menu = !this.menu;
    }

    closeMenu () {
        if ( this.menu ) {
            this.menu = false;
        }
    }

    @Watch( 'menu' )
    emitMenuState () {
        this.$emit( 'menuState', this.menu );
    }

    get menuOptions (): ( MenuOptions )[] {
        if ( this.user?.role === UserRole.ADMIN ) {
            return [
                { icon: 'mdi-post', name: 'Publicaciones', path: 'index', show: true },
                { icon: 'mdi-school', name: 'Egresados', path: 'graduates', show: true },
                { icon: 'mdi-account-supervisor', name: 'Eventos', path: 'events', show: true },
                { icon: 'mdi-eye', name: 'Nosotros', path: 'about', show: true },
                { name: 'Cerrar sesión', icon: 'mdi-logout', event: 'logout', show: true }
            ];
        } else if ( this.user ) {
            return [
                { icon: 'mdi-account', name: 'Información personal', path: 'personal-information', show: true },
                { icon: 'mdi-school', name: 'Información académica', path: 'academic-information', show: true },
                { icon: 'mdi-clipboard', name: 'Información laboral', path: 'working-information', show: true },
                { icon: 'mdi-book-open-outline', name: 'Exportar hoja de vida', path: 'cv', show: true },
                { icon: 'mdi-cog', name: 'Configuración', path: 'settings', show: true },
                { icon: 'mdi-eye', name: 'Nosotros', path: 'about', show: true },
                { name: 'Cerrar sesión', icon: 'mdi-logout', event: 'logout', show: true }
            ];
        }
        return [
            { icon: 'mdi-sign-in', name: 'Inicia session', path: 'index', show: true },
            { icon: 'mdi-eye', name: 'Nosotros', path: 'about', show: true }
        ];
    }

    whiteAccentPages:string[]= [
        ''
    ];

    get whiteAccent () {
        return this.whiteAccentPages.includes( this.$route.path );
    }

    get optionLeft () {
        return !( this.$route.path === '/' );
    }

    async mounted () {
        this.user = await setSession( this.$store );
    }

    logout () {
        console.log( 'asdsa' );
        window.location.href = `${process.env.API_SERVER}/logout?redirect_uri=${encodeURI( window.location.href )}`;
    }

    openOrCloseEvent ( payload:boolean ) {
        this.openMenuMobile = payload;
    }

    close () {
        this.showModalCreatePost = !this.showModalCreatePost;
    }

    postClick () {
        console.log( 'hola' );
        this.showModalCreatePost = true;
    }
}

export default Default;
</script>

<style lang="scss" scoped>

.main-container {
    padding: 0 !important;
    .content {
        //max-width: 1366px !important;
        margin: 0;
        padding-top: 80px;

        @include mobile {
            padding-top: 0;
        }

        @include tablet {
            padding-top: 0;
        }
    }

    .drawer {
        z-index: 150;

        @include desktop {
            display: none;
        }

        .list {
            padding: 20px 20px 0 20px;
            height: 64%;

            .item {
                border-radius: 0;
            }
        }
    }
}

.item-icon {
    margin-right: 10px;
}
.footer-content {
    height: 50px;
    display: flex;
    justify-content: center;
    color: #fff !important;
    background: $primary !important;
    text-align: center;
    @include mobile {
        max-width: 599.99px;
        display: none;
    }

    @include tablet {
        max-width: 959.98px;
    }
}
</style>
