<template>
    <v-app>
        <h1 v-if="error.statusCode === 404">
            {{ pageNotFound }}
        </h1>
        <h1 v-else>
            {{ otherError }}
        </h1>
        <NuxtLink to="/">
            Home page
        </NuxtLink>
    </v-app>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component( {
} )
class Error extends Vue {
    @Prop( { default: null, type: Object } ) error: any;

    pageNotFound: string = '404 Not Found';
    otherError: string = 'An error ocurred';

    head () {
        const title = this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
        return { title };
    }
}

export default Error;
</script>

<style lang="scss" scoped>
h1 {
    font-size: 20px;
}
</style>
