<template>
    <div class="password">
        <change-password @changePassword="changePassword" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import ChangePassword from '@/components/login/ChangePassword.vue';
import { Route } from 'vue-router';

@Component( {
    components: {
        ChangePassword
    }
} )
class Password extends Vue {
    $route: Route;
    token: any = null;

    async changePassword ( newPassword:string, confirmPassword: string ) {
        const response:{ statusCode: number, message?: string, error?: string } = await fetch( `${process.env.API_SERVER}/password/restore`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify( {
                newPassword,
                token: this.token
            } )
        } ).then( ( resp: any ) => resp.json() );
        console.log( response );
        // TODO: evaluate failure response, show alert message;
        if ( response.statusCode === 200 ) {
            this.$router.push( '/' );
        }
    }

    mounted () {
        this.token = this.$route.query.token ? this.$route.query.token : '';
    }
}

export default Password;

</script>

<style lang="scss" scoped>
    .password {
        height: 160px;
    }
</style>
