<template>
    <div class="container-about">
        <div class="banner2">
            <img class="image" src="@/assets/img/img2.jpg" alt="">
        </div>
        <label class="aboutUs">Nosotros</label>
        <p class="words">
            Insistir, Persistir, Resistir y nunca Desistir.
        </p>
        <div class="information">
            <div class="left">
                La Universidad de Nariño es una institución universitaria, autónoma de carácter oficial con gobierno, patrimonio y rentas propias y con capacidad para organizarse, gobernarse, designar sus propias autoridades y para dictar normas y reglamentos de conformidad con la Ley.
            </div>
            <div class="right">
                La Universidad de Nariño, entendida como un acontecimiento en la cultura, es reconocida por su contribución, desde la creación de valores humanos, a la paz, la convivencia, la justicia social y a la formación académica e investigativa, comprometida con el desarrollo regional en la dimensión intercultural.
            </div>
        </div>
        <div class="about-image">
            <div class="banner" />
        </div>
        <div class="information">
            <div class="left">
                <label class="title">Grupo de Investigación Aplicado en Sistemas (GRIAS)</label>
                <p class="paragraph">
                    El grupo de investigación GRIAS del departamento de Sistemas de la Facultad de Ingeniería de la Universidad de Nariño desde su fundación ha participado principalmente en investigaciones relacionadas con el descubrimiento de conocimiento en bases de datos. En esta área su producción científica es amplia. Cuenta con artículos publicados en revistas indexadas nacionales. Ha participado con ponencias y publicado en los libros de memorias de prestigiosas conferencias cono lo son la IASTED Computational Intelligence, la conferencia iberoamericana de Cibernética, informática y Sistemas, la conferencia latinoamericana de informática y en las jornadas iberoamericanas de ingeniería de software e ingeniería de conocimiento.
                </p>
                <p class="paragraph">
                    Posee software registrado como lo son herramientas de minería de datos TariyKDD, Polaris, Exdaclet, matree, PostgresKDD, Rasemus.
                </p>
                <div class="container-image">
                    <div class="image-content-one" />
                </div>
            </div>
            <div class="right">
                <label class="title">Ripuy</label>
                Ripuy es una herramienta para la gestión de información personal,
                académica y laboral de egresados del programa de ingeniería de sistemas,
                así como un punto de encuentro para la gestión de información y el surgimiento de oportunidades laborales y hace parte de un proyecto de investigación que usa MongoDB, como un primer paso para la implementación de grandes bases de datos NoSQL en la Universidad de Nariño.
                <div class="container-image">
                    <div class="image-content-three" />
                </div>
            </div>
            <div class="left">
                <label class="title">Desarrolladores</label>
                Somos un grupo de estudiantes egresados del programa de ingeniería de sistemas de la Universidad de Nariño, y como tal, conocemos cuales son las necesidades respecto a los apoyos y al seguimiento de la información que se hace a los egresados en nuestra Institución, por lo cual hemos querido aportar con nuestro conocimiento, proyectando nuestros deseos de superación y avance a través de esta herramienta denominada Ripuy, la cual utiliza un gestor de bases de datos diferente, para mejorar el tratamiento de los datos de los egresados; también cuenta con los últimos avances en cuanto a desarrollo web se refiere, de modo que cumpla con los requerimientos necesarios y los estándares de usabilidad, para brindar un servicio adecuado, eficiente y completo a cada usuario que desee utilizarla.
                <div class="container-image">
                    <div class="image-content-two" />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';

@Component( {
    components: {
    }
} )

export default class About extends Vue {

}
</script>

<style lang="scss" scoped>
.container-about{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 30px;
    @include mobile {
        margin-top:80px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    @include tablet {
        margin-top:80px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aboutUs {
        font-size: 55px;
        font-weight: bold;
        text-align: center;
        @include mobile {
            font-size: 48px;
        }

        @include tablet {
            font-size: 48px;
        }
    }
    .words {
        padding: 0 300px 0 300px;
        font-size: 43px;
        color: #656565;
        font-family: Garamond, Georgia, serif;
        text-align: center;
        @include mobile {
            padding: 10px;
            font-size: 30px;
        }
        @include tablet {
            padding: 10px !important;
            font-size: 30px;
        }
    }
}

.information {
    display: flex;
    padding: 0 200px 0 200px;
    margin-bottom: 30px;

    @include mobile {
        display: block;
        padding: 0;
    }

    @include tablet {
        display: block;
        padding: 0;
    }
}

.left {
    flex-grow: 1;
    margin-right: 10px;
    padding: 0 40px  0 40px;
    color: #bbbbbb;
    display: flex;
    flex-direction: column;
    @include mobile {
        margin-bottom: 10px;
        margin-right: 0;
        padding: 10px;
    }
}

.right {
    flex-grow: 1;
    padding: 0 40px  0 40px;
    color: #bbbbbb;
    display: flex;
    flex-direction: column;
    @include mobile {
         padding: 10px
    };
}
.about-image {
    margin-bottom: 50px;
    .banner {
        width: 100%;
        background-image: url('~assets/img/about.jpg');
        height: 500px;
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        @include mobile {
            height: 200px;
            padding: 15px;
        }
    }
}

.banner2 {
    // padding: 0 240px 0 240px;
    // @include mobile {
    //     padding: 10px
    // }

    .image {
        width: 100%;
        height: 500px;
        @include mobile {
            height: 200px;
        }
    }
}
.title {
    font-weight: bold;
    color: #666666;
    text-align: center;
    // width: 300px;
    // overflow-grow: anywhere;
}

// .paragraph {
//     width: 300px;
//     overflow-grow: anywhere;
// }

.container-image {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.image-content-one {
    width: 200px;
    height: 97px;
    background-image: url('~assets/img/GRIAS.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include mobile {
        width: 187px;
        height: 97px;
    }
}
.image-content-two {
    width: 200px;
    height: 97px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('~assets/img/logo.png');
    @include mobile {
        width: 120px;
        height: 97px;
    }
}

.image-content-three {
    width: 300px;
    height: 97px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('~assets/img/ripuy.png');
    @include mobile {
        width: 200px;
        height: 97px;
    }
}
</style>
