<template>
    <!-- <loader v-if="!loading" /> -->
    <div>
        <div v-if="academicInformationForm" class="academic-information">
            <title-main title="Información académica" />
            <v-form
                v-if="formData"
                ref="form"
                lazy-validation
                class="form-container"
            >
                <v-row>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-select
                            v-model="formData.colegio"
                            :value="formData.colegio"
                            item-text="nombre"
                            item-value="id"
                            label="Institución educativa secundaria"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="schools"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-text-field
                            v-model="formData.fecha_inicio_programa"
                            name="formData.fecha_ingreso"
                            label="Fecha de ingreso"
                            outlined
                            dense
                            type="date"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-text-field
                            v-model="formData.programa"
                            name="formData.programa"
                            label="Programa"
                            outlined
                            dense
                            disabled
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <p>Motivo de ingreso</p>
                        <p>¿Cuales de los siguientes factores considera usted que fue el mas importante al momento de seleccionar su carrera?</p>
                        <v-select
                            v-model="formData.motivo_ingreso"
                            :value="formData.motivo_ingreso"
                            item-text="descripcion"
                            item-value="id"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="reasonsForAdmission"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                       <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-select
                            v-model="formData.sede"
                            label="Sede"
                            :value="formData.sede"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="sedes"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-select
                            v-model="formData.modalidad_academica"
                            :value="formData.modalidad_academica"
                            label="Modalidad academica"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="modalidadAcademica"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="false"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-select
                            v-model="formData.jornada"
                            label="Jornada"
                            :value="formData.jornada"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="jornadas"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-select
                            v-model="formData.periodo"
                            label="Periodo"
                            :value="formData.periodo"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="periodos"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-select
                            v-model="formData.financiacion"
                            :value="formData.financiacion"
                            item-text="descripcion"
                            item-value="id"
                            label="Forma de financiación de tus estudios"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="formasFinanciacion"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-radio-group
                            v-model="formData.es_primera_opcion"
                            hide-details
                            class="radio-flex"
                            label="Fue la primera opción"
                        >
                            <v-radio
                                :value="yesOption"
                                label="Si"
                            />
                            <v-radio
                                :value="noOption"
                                label="No"
                            />
                        </v-radio-group>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-text-field
                            v-model="formData.intentos_admision"
                            type="number"
                            label="Número de intentos de ingreso"
                            outlined
                            dense
                        />
                    </v-col>
                </v-row>
                <div class="content-button">
                    <ripuy-button class="button" :title="'siguiente'" padding-button="10px" @click="nextFormAction" />
                </div>
            </v-form>
        </div>
        <div v-if="nextForm" class="academic-information">
            <title-main title="Trabajo de Grado" />
            <v-form
                ref="form"
                lazy-validation
                class="form-container"
            >
                <v-row>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-text-field
                            v-model="formData.fecha_finalizacion_materias"
                            name="formData.fecha_finalizacion_materias"
                            label="Fecha de finalización de materias"
                            outlined
                            dense
                            type="date"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-select
                            v-model="formData.trabajo_grado"
                            :value="formData.trabajo_grado"
                            label="Tipo de trabajo de grado"
                            :return-object="false"
                            :multiple="false"
                            :items="degreeWorkType"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            dense
                            persistent-hint
                            outlined
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-textarea
                            v-model="formData.titulo_trabajo_grado"
                            name="formData.titulo_trabajo_grado:"
                            label="Titúlo de trabajo de grado"
                            outlined
                            dense
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-text-field
                            v-model="formData.linea_investigacion"
                            label="Linea de investigación"
                            outlined
                            dense
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-0"
                    >
                        <v-text-field
                            v-model="formData.fecha_grado"
                            name="formData.fecha_grado"
                            label="Fecha de grado"
                            outlined
                            dense
                            type="date"
                        />
                    </v-col>
                </v-row>
                <div class="content-button-grade">
                    <ripuy-button class="button button-back" :title="'Volver'" padding-button="10px" @click="back" />
                    <ripuy-button class="button" :title="'Guardar'" padding-button="10px" @click="updateAcademicInformation" />
                </div>
            </v-form>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import GeneralSelect from '@/components/commons/GeneralSelect.vue';
import Loader from '@/components/commons/Loader.vue';
import {
    CLIENT,
    colegios_colegios,
    IesCampus,
    JornadaAcademica, ModalidadAcademica,
    motivosIngreso_motivosIngreso, PeriodoAcademico,
    DegreeWorkType
} from 'ripuy-request';

@Component( {
    components: {
        TitleMain,
        GeneralSelect,
        RipuyButton,
        Loader
    }
} )
export default class AcademicInformation extends Vue {
    loading: boolean = false;
    academicInformation: boolean = true;
    degreeWork: boolean = false;
    schools: colegios_colegios[] | null = [];
    informacionAcademica: any;
    reasonsForAdmission: motivosIngreso_motivosIngreso[] | null = [];
    formasFinanciacion: any[] | null = [];
    jornadas: JornadaAcademica[] | null = [];
    periodos: PeriodoAcademico[] | null = [];
    modalidades: ModalidadAcademica[] | null = [];
    sedes: IesCampus[] | null = [];
    academicInformationForm: boolean = true;
    nextForm: boolean = false;
    degreeWorkType: any = [];
    userId: string | ( string | null )[] = '';
    loadingData: boolean = false;
    userAcademicInformation: any = null;
    modalidadAcademica: ModalidadAcademica[] | null = [];
    formData: any = {
        colegio: null,
        programa: null,
        fecha_inicio_programa: null,
        modalidad_academica: null,
        sede: null,
        jornada: null,
        periodo: null,
        es_primera_opcion: false,
        intentos_admision: null,
        financiacion: null,
        motivo_ingreso: null,
        fecha_finalizacion_materias: null,
        trabajo_grado: null,
        titulo_trabajo_grado: '',
        linea_investigacion: '',
        fecha_grado: null
    }

    yesOption: boolean = true;
    noOption: boolean = false;
    disableAcademicLists: boolean = true;

    get id () {
        return this.$route.query.id ? this.$route.query.id : '';
    }

    get modalida () {
        return this.formData.modalidad_academica;
    }

    beforeMount () {
        if ( this.user?.role === 'ADMIN' ) {
            this.disableAcademicLists = false;
        }
        this.userId = this.id;
        if ( this.userId ) {
            this.loadAcademicInformation( this.userId as string );
        } else {
            this.loadAcademicInformation( this.user?._id as string );
        }
        this.degreeWorkType = Object.values( DegreeWorkType );
        this.modalidadAcademica = Object.values( ModalidadAcademica );
        this.loadSchools();
        this.loadReasonsForAdmission();
        this.loadFinancing();
        this.loadAcademicDataList();
        // 60590871d8e8e5098e3f6ba8
    }

    @Watch( 'yesOption' )
    onYesOptionChange ( value: any ) {
        this.formData.es_primera_opcion = value;
    }

    @Watch( 'noOption' )
    onNoOptionChange ( value: any ) {
        this.formData.es_primera_opcion = value;
    }

    academic () {
        this.degreeWork = false;
        this.academicInformation = true;
    }

    async loadSchools () {
        const { colegios } = await this.$apiClient.academic.colegios( { client: CLIENT.CODE } );
        this.schools = colegios;
    }

    get user () {
        return this.$store.getters['sessionStorage/getUser'];
    }

    async loadAcademicInformation ( id: string ) {
        this.loadingData = true;
        try {
            const { informacionAcademica } = await this.$apiClient.academic.informacionAcademica(
                { where: { user: { id } } },
                { client: CLIENT.CODE }
            );
            this.informacionAcademica = informacionAcademica;
            if ( informacionAcademica ) {
                this.formData = Object.assign( informacionAcademica, {
                    programa: informacionAcademica.programa?.nombre,
                    es_primera_opcion: !!informacionAcademica?.es_primera_opcion
                } );
            }
            console.log( this.informacionAcademica );
        } catch ( error ) {
            if ( error.message === 'User not authorized' ) {
                this.$Swal( 'error', 'Usted no tiene los permisos necesarios para ver esta información', 5000 );
            }
            this.loadingData = false;
            return true;
        }
    }

    async loadReasonsForAdmission () {
        const { motivosIngreso } = await this.$apiClient.academic.motivosIngreso( { client: CLIENT.CODE } );
        this.reasonsForAdmission = motivosIngreso;
    }

    async loadFinancing () {
        const { formasFinanciacion } = await this.$apiClient.academic.formasFinanciacion( { client: CLIENT.CODE } );
        this.formasFinanciacion = formasFinanciacion;
    }

    async loadAcademicDataList () {
        const { jornadas, modalidades, periodos, sedes } = await this.$apiClient.academic.infoAcademicaAdmin( { client: CLIENT.CODE } );
        this.jornadas = jornadas;
        this.modalidades = modalidades;
        this.periodos = periodos;
        this.sedes = sedes;
        console.log( this.sedes)
    }

    async updateAcademicInformation () {
        try {
            await this.$apiClient.academic.updateInformacionAcademica( {
                data: {
                    colegio: this.formData.colegio ? { id: this.formData.colegio?.id } : null,
                    fecha_inicio_programa: this.formData.fecha_inicio_programa ? this.formData.fecha_inicio_programa : null,
                    modalidad_academica: this.formData.modalidad_academica ? this.formData.modalidad_academica : null,
                    motivo_ingreso: this.formData.motivo_ingreso ? { id: this.formData.motivo_ingreso.id } : null,
                    sede: this.formData.sede ? this.formData.sede : null,
                    jornada: this.formData.jornada ? this.formData.jornada : null,
                    periodo: this.formData.periodo ? this.formData.periodo : null,
                    es_primera_opcion: this.formData.es_primera_opcion ? this.formData.es_primera_opcion : false ,
                    intentos_admision: this.formData.intentos_admision ? parseInt( this.formData.intentos_admision ) : 1,
                    financiacion: this.formData.financiacion ? { id: this.formData.financiacion?.id } : null,
                    fecha_finalizacion_materias: this.formData.fecha_finalizacion_materias ? this.formData.fecha_finalizacion_materias : null,
                    trabajo_grado: this.formData.trabajo_grado ? this.formData.trabajo_grado : null,
                    titulo_trabajo_grado: this.formData.titulo_trabajo_grado ? this.formData.titulo_trabajo_grado : '',
                    linea_investigacion: this.formData.linea_investigacion ? this.formData.linea_investigacion : '',
                    fecha_grado: this.formData.fecha_grado ? this.formData.fecha_grado : null
                },
                where: {
                    user: {
                        id: this.userId ? this.userId : this.user?._id
                    }
                }
            }, { client: CLIENT.CODE } );
            this.$Swal( 'success', 'Su información académica ha sido actualizada satisfactoriamente', 5000 );
        } catch ( err ) {
            this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
            console.error( err );
        }
    }

    nextFormAction () {
        this.academicInformationForm = false;
        this.nextForm = true;
    }

    back () {
        this.academicInformationForm = true;
        this.nextForm = false;
    }
}

</script>

<style lang="scss" scoped>
.academic-information {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    @include mobile {
        margin-top:80px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    @include tablet {
        margin-top:80px;
        text-align: center;
    }
}

.form-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 30px;
    padding: 100px;
    @include mobile{
        padding: 0;
    }

    @include tablet{
        padding: 20px;
    }
    .content-button {
        display: flex;
        justify-content: flex-end;

       .button {
            @include mobile {
                width: 100%;
                justify-content: inherit;
            }
       }
    }

    .content-button-grade {
        display: flex;
        @include mobile {
            width: 100%;
            flex-flow: column;
        }
        .button {
            @include mobile {
                margin-bottom: 10px;
            }
        }
        .button-back {
            margin-right: 10px;
            @include mobile {
                margin-right: 0;
            }
        }

    }
}

.radio-flex {
    display: flex;
    margin-bottom: 15px;
    padding: 0;
    margin-top: 0;
}
</style>
