<template>
    <div>
        <loader v-if="loading" />
        <cv-component
            v-else
            :user="user"
            :academic="informacionAcademica"
            :working="informacionLaboral ? informacionLaboral : ''"
            :noWorking="informacionNoLaboral ? informacionNoLaboral : ''"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { CLIENT } from 'ripuy-request';
import CvComponent from '../components/commons/CvComponent.vue';
import Loader from '../components/commons/Loader.vue';

@Component( {
    components: {
        CvComponent,
        Loader
    }
} )

export default class Cv extends Vue {
    informacionAcademica: any = null;
    informacionLaboral: any = null;
    informacionNoLaboral: any = null;
    loading: boolean = false;

    get user () {
        return this.$store.getters['sessionStorage/getUser'];
    }

    async loadAcademicInformation ( ) {
        this.loading = true;
        try { 
            if ( this.user ) {
                const { informacionAcademica } = await this.$apiClient.academic.informacionAcademica(
                { where: { user: { id: this.user?._id } } },
                { client: CLIENT.CODE }
            );
            this.informacionAcademica = informacionAcademica;
            console.log( this.informacionAcademica, 'academica' );
            }
        } catch ( error ) {
            if ( error.message === 'User not authorized' ) {
                this.$Swal( 'error', 'Usted no tiene los permisos necesarios para ver esta información', 5000 );
            }
            return true;
        } finally {
            this.loading = false;
        }
    }

    async loadWorkingInformation () {
        try {
            const { informacionLaboral } = await this.$apiClient.professional.informacionLaboral(
                { where: { user: { id: this.user._id } } }, { client: CLIENT.CODE }
            );
            this.informacionLaboral = informacionLaboral;
            console.log( this.informacionLaboral );
            const { informacionNoLaboral } = await this.$apiClient.professional.informacionNoLaboral(
                { where: { user: { id: this.user._id } } }, { client: CLIENT.CODE }
            );
            this.informacionNoLaboral = informacionNoLaboral;
            console.log( this.informacionNoLaboral, 'Noestelaboral' );
        } catch ( error ) {
            console.info( error );
        } finally {
            this.loading = false;
        }
    }

    mounted () {
        this.loadAcademicInformation();
        this.loadWorkingInformation();
        // const doc = new jsPDF();
        // /** WITH CSS */
        // var canvasElement = document.createElement('canvas');
        // html2canvas( this.$refs.content, { canvas: canvasElement } ).then(function ( canvas: any ) {
        //     doc.save("sample.pdf"); 
        // });
    }

    // downloadWithCSS() {
    //     const doc = new jsPDF();
    //     /** WITH CSS */
    //     var canvasElement = document.createElement('canvas');
    //     html2canvas( this.$refs.content, { canvas: canvasElement } ).then(function ( canvas: any ) {
    //         doc.save("sample.pdf"); 
    //     });
    // }
}
</script>

<style lang="css" scoped>
</style>