<template>
    <div class="events">
        <title-main title="Eventos" />
        <v-row class="content-events">
            <v-col class="search" cols="12">
                <loader v-if="loading" />
                <!-- <search v-else v-model="filter" /> -->
            </v-col>
            <v-col
                v-for="(event, i) of events"
                :key="i"
            >
                <event-card
                    :event="event"
                    @deleteEvent="loadEvents"
                    @update="loadEvents"
                />
            </v-col>
        </v-row>
        <div class="container-button">
            <circle-button class="button" icon="mdi-plus" @click="createEvent" />
        </div>
        <modal-event-form
            :show-modal="showModalCreateEvent"
            :event-data="event"
            title="Crear evento"
            icon="mdi-pencil"
            @update="loadEvents"
            @close="closeCreateEvent"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { CLIENT, eventos, eventos_eventos } from 'ripuy-request';
import TitleMain from '@/components/commons/TitleMain.vue';
import EventCard from '@/components/events/EventCard.vue';
import { OffersFilters } from '@/utils/interfaces';
import Search from '@/components/posts/SearchOffers.vue';
import CircleButton from '@/components/commons/CircleButton.vue';
import Loader from '@/components/commons/Loader.vue';
import ModalEventForm from '@/components/events/ModalEventForm.vue';

@Component( {
    components: {
        TitleMain,
        EventCard,
        Search,
        Loader,
        CircleButton,
        ModalEventForm
    }
} )

export default class Events extends Vue {
    events: eventos_eventos[] | null = [];
    loading: boolean = false;
    filter: OffersFilters = {
        text: ''
    }

    event = {
        nombre: null,
        poster: null,
        descripcion: null,
        telefono: null,
        email: null,
        url: null

    }

    showModalCreateEvent: boolean = false;

    mounted () {
        this.loadEvents();
    }

    async loadEvents ( ) {
        this.loading = true;
        try {
            const { eventos }: eventos = await this.$apiClient.post.eventos(
                // { where: { search: this.filter.text } },
                { client: CLIENT.CODE, apolloOptions: { fetchPolicy: 'network-only' } }
            );
            this.events = eventos;
        } catch ( error ) {
            console.info( error );
        } finally {
            this.loading = false;
        }
    }

    createEvent () {
        this.showModalCreateEvent = true;
    }

    closeCreateEvent () {
        this.showModalCreateEvent = !this.showModalCreateEvent;
    }
}
</script>

<style lang="scss" scoped>
.events {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    @include tablet {
        margin-top:80px;
        text-align: center;
    }
    @include mobile {
        margin-top:80px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .content-events {
        text-align: left;

        // .search {
        //     margin-bottom: 100px;
        // }
    }
}

.container-button {
    display: flex;
    right: 5%;
    top: 80%;
    position: fixed;
}
</style>