<template>
    <scroll-container :has-infinite-scroll="true" :pixels-from-bottom="100" @asking-data="loadGraduates( true )">
        <div slot="content" class="container-graduates">
            <div class="header">
                <v-icon class="icon">mdi-school</v-icon>
                <title-main :title="'Egresados'" />
            </div>
            <v-row ref="scrollContentContainer" class="list-interested">
                <v-col class="search" cols="12">
                    <search v-model="filter" />
                </v-col>
                <v-col
                    v-for="( user, i ) of graduates"
                    :key="i"
                    cols="12"
                    sm="4"
                    md="4"
                    :class="$vuetify.breakpoint.smAndDown ? 'px-6 py-0' : 'px-10 py-0'"
                >
                    <user-card :user="user" />
                </v-col>
            </v-row>
        </div>
    </scroll-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import TitleMain from '@/components/commons/TitleMain.vue';
import UserCard from '@/components/commons/UserCard.vue';
import Search from '@/components/posts/SearchOffers.vue';
import ScrollContainer from '@/components/commons/ScrollContainer.vue';
import { CLIENT, egresados_egresados } from 'ripuy-request';

@Component( {
    components: {
        TitleMain,
        UserCard,
        Search,
        ScrollContainer
    }
} )
export default class Graduates extends Vue {
    graduates: egresados_egresados[] | null = [];
    take: number = 10;
    scrollContentContainerRef: any;
    cursor: string | undefined = '';
    filter = {
        text: ''
    }

    mounted () {
        this.loadGraduates();
        this.$nextTick( () => {
            this.scrollContentContainerRef = this.$refs.scrollContentContainer as any;
        } );
    }

    @Watch( 'filter' )
    searchLoader ( data: any ) {
        this.cursor = '';
        this.loadGraduates();
    }

    async loadGraduates ( nextCursor = false ) {
        const { egresados } = await this.$apiClient.post.egresados(
            {
                where: { search: this.filter.text },
                take: this.take,
                cursor: this.cursor && this.cursor.length > 0 ? { id: this.cursor } : undefined
            },
            { client: CLIENT.CODE }
        );
        if ( egresados ) {
            const egresadosLength = egresados.length || 0;
            const egresadosArray = egresados;
            if ( egresadosLength > 0 ) {
                this.cursor = egresadosArray[egresadosLength - 1].id;
            }
            if ( !nextCursor ) {
                this.graduates = egresadosArray;
            } else {
                this.graduates = [...( this.graduates || [] ), ...egresadosArray];
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.container-graduates {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center !important;
    align-items: center !important;
    @include mobile {
        max-width: 599.99px;
        margin-top:80px;
    }
    @include desktop {
        max-width: 1850px;
    }

    .header {
        display: flex;
        text-align: center;
        align-items: center !important;
    }
}

.icon {
    margin-right: 10px;
    color: $primary !important;
}

.search {
    margin-bottom: 80px;

    @include desktop {
        display: flex;
        margin-bottom: 140px;
        text-align: center;
        justify-content: center;
    }
}
</style>