<template>
    <div id="index" class="container-index">
        <loader v-if="!loading" />
        <container v-else class="content-index padded" header-height="80px" :height-auto="true">
            <carousel-events :events="events" />
            <offers v-if="user" class="search-content" />
            <div v-else class="login-index">
                <login class="login-content" />
                <div class="added-login">
                    <div  data-aos="fade">
                        <h1 class="letters-container" data-aos="fade-down"
                            data-aos-ease = 'ease-in-out'
                            data-aos-offset="300"
                            data-aos-delay="100"
                            data-aos-duration="2000"
                            data-aos-mirror="true"
                            data-aos-once="false">Administra tu información personal, laboral y académica</h1>
                    </div>
                    <div data-aos="fade">
                        <h1  class="letters-container-two" data-aos="fade-right"
                            data-aos-offset="200"
                            data-aos-easing="ease-in-out"
                            data-aos-delay="100"
                            data-aos-duration="2000"
                            data-aos-mirror="true"
                            data-aos-once="false">
                                Encuentra ofertas laborales y envía tu hoja de vida aplicando
                            </h1>
                    </div>
                    <div data-aos="fade">
                        <h1 class="letters-container-three" data-aos="fade-up"
                            data-aos-offset="200"
                            data-aos-easing="ease-in-out"
                            data-aos-delay="100"
                            data-aos-duration="2000"
                            data-aos-mirror="true"
                            data-aos-once="false">
                                Enterate de todos los eventos
                                industria TIC a realizarse en la ciudad
                        </h1>
                    </div>
                    <!-- <div class="letters-container">
                        <span id="toShow" />
                        <span id="toShow2" />
                    </div> -->
                    <!-- <span>Con Ripuy todo es más fácil</span> -->
                    <!-- <div
                        class="list"
                        :class="$vuetify.breakpoint.smAndDown ? 'px-4' : 'px-6'"
                    >
                        <img id="toShowImg" src="" class="image" alt="">
                        <img src="@/assets/img/events.png" class="image" alt="">
                        <img src="@/assets/img/find-job.png" class="image" alt="">
                        <img src="@/assets/img/manage-information.png" class="image" alt="">
                    </div> -->
                </div>
            </div>
        </container>
        <div class="footer">
            <div class="image-content-one" />
            <div class="image-content-two" />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import Login from '@/components/login/Login.vue';
import CarouselEvents from '@/components/posts/CarouselEvents.vue';
import Container from '@/components/commons/Container.vue';
import Offers from '@/components/posts/Offers.vue';
import Loader from '@/components/commons/Loader.vue';
import { CLIENT, eventos, eventos_eventos } from 'ripuy-request';
import { User } from '~/utils/interfaces';
import { setSession } from '~/utils/setSession';

@Component( {
    components: {
        Login,
        CarouselEvents,
        Container,
        Offers,
        Loader
    }
} )
class Index extends Vue {
    events: eventos_eventos[] | null = [];
    user: User | null = null;
    loading: boolean = false;
    letterList: any[] = [
        'Administra tu información',
        'Encuentra ofertas laborales',
        'Enterate de todos los eventos'
    ]

    letterList2: any[] = [
        'personal, laboral y académica',
        'y envía tu hoja de vida aplicando',
        'industria TIC a realizarse en la ciudad'
    ]

    imageList: any[] = [
        '@/assets/img/events.png',
        '@/assets/img/find-job.png',
        '@/assets/img/manage-information.png'
    ];

    // mounted () {
    //     // const text = document.createTextNode( 'added text' );
    //     // document.getElementById( 'toShow' )?.appendChild( text );
    //     // let pos = 0;
    //     // const toShow = document.getElementById( 'toShow' );
    //     // const to = setInterval( () => {
    //     //     pos++;
    //     //     this.dibujar( pos, toShow );
    //     //     if ( pos === this.letterList.length ) {
    //     //         console.log( 'fin' );
    //     //         clearInterval( to );
    //     //     }
    //     // }, 7000 );
    //     let pos = 0;
    //     const toShow = document.getElementById( 'toShow' );
    //     const toShow2 = document.getElementById( 'toShow2' );
    //     const toShowImg = document.getElementById( 'toShowImg' );
    //     setInterval( () => {
    //         pos++;
    //         this.dibujar( pos, toShow, this.letterList );
    //         if ( pos === this.letterList.length ) {
    //             pos = 0;
    //             this.load( pos, toShow, this.letterList );
    //         }
    //     }, 2000 );

    //     let pos2 = 0;
    //     setInterval( () => {
    //         pos2++;
    //         this.dibujar( pos2, toShow2, this.letterList2 );
    //         if ( pos2 === this.letterList2.length ) {
    //             pos2 = 0;
    //             this.load( pos2, toShow2, this.letterList2 );
    //         }
    //     }, 2000 );

    //     let pos3 = 0;
    //     setInterval( () => {
    //         pos3++;
    //         this.dibujarImg( pos3, toShowImg, this.imageList );
    //         if ( pos3 === this.imageList.length ) {
    //             pos3 = 0;
    //             this.loadImg( pos3, toShowImg, this.imageList );
    //         }
    //     }, 4600 );
    // }

    // load ( pos: number, toShow: any, list: any[] ) {
    //     const to = setInterval( () => {
    //         pos++;
    //         this.dibujar( pos, toShow, list );
    //         if ( pos === list.length ) {
    //             clearInterval( to );
    //         }
    //     }, 2000 );
    // }

    // loadImg ( pos: number, toShow: any, list: any[] ) {
    //     const to = setInterval( () => {
    //         pos++;
    //         this.dibujar( pos, toShow, list );
    //         if ( pos === list.length ) {
    //             clearInterval( to );
    //         }
    //     }, 4600 );
    // }

    // dibujar ( pos: number, toShow: any, list: any[] ) {
    //     toShow.innerHTML = list[pos - 1];
    // }

    // dibujarImg ( pos: number, toShow: any, list: any[] ) {
    //     toShow.src = list[pos - 1];
    // }

    beforeMount () {
        this.setupSession();
        this.launchEvents();
    }

    async launchEvents () {
        this.loading = true;
        try {
            const { eventos }: eventos = await this.$apiClient.post.eventos( { client: CLIENT.CODE } );
            this.events = eventos;
        } catch ( error ) {
            console.error( error.message );
        }
    }

    async setupSession () {
        this.user = await setSession( this.$store );
        if ( this.user?.primer_ingreso ) {
            await this.$apiClient.personal.changeFirstLoginStatus( { client: CLIENT.CODE } );
            this.$router.push( { name: 'initial-registration' } );
        }
    }
}
export default Index;
</script>

<style lang="scss" scoped>
.container-index {
    padding: 0;
    margin: 0;
    width: 100%;
    @include mobile {
        max-width: 599.99px;
    }
    @include desktop {
        max-width: 1850px;
        display: flex;
        flex-flow: column;
        justify-content: center !important;
        align-items: center !important;
    }
}
.content-index {
    @include desktop {
        display: flex;
        flex-flow: column;
    }
}
.login-image {
    display: flex;
    background-image: url('~assets/img/homelogin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 419px;
    text-align: center;

    @include desktop {
        width: 50%;
    }
}
.login-content {
    text-align: center;
    justify-content: center;
    margin-top: -70px;
    position: relative;
    @include desktop {
        margin-top: 30px;
        margin-right: 10px;
        justify-content: center;
    }
}

.search-content {
    margin-top: -50px;
    position: relative;
    align-items: center;
    @include desktop {
        text-align: start;
        margin-top: -40px;
    }
}

.footer {
    display: flex;
    margin-bottom: 100px;
    @include mobile {
        padding-top: 40px;
        padding:10px;
        justify-content: space-between;
        margin: 0;
    }

    @include tablet {
        text-align: center;
        justify-content: center;
    }

    .image-content-one {
        width: 300px;
        height: 97px;
        background-image: url('~assets/img/GRIAS.png');
        @include mobile {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 187px;
            height: 97px;
        }
    }
    .image-content-two {
        width: 300px;
        height: 97px;
        background-image: url('~assets/img/logo.png');
        @include mobile {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 120px;
            height: 97px;
        }
    }
}

.card-interested {
    @include mobile {
        width: auto;
    }
}

.added-login{
    background: linear-gradient( yellowgreen, rgba(255,255,255,0), 
rgba(19, 170, 82, 1)), url(http://foo.com/image.jpg);;
   @include desktop {
       display: flex;
       flex-flow: column;
       text-align: center;
       margin-top: 30px;
       width: 50%;
       align-items: center;
   }

//    @include mobile {
//        display: none;
//    }
}

.login-index {
    display:flex;
    flex-direction: column;
    text-align: center;
    @include desktop {
        display: flex;
        flex-direction: row;
    }
}

.letters-container {
    display: flex;
    margin-top:20px;
    flex-direction: column;
    overflow: hidden;
    height: 120px;
    font-size: 20px;
    // color: #fff;
    // background: linear-gradient(70deg, rgba(255,255,255,0), rgba(17, 97, 73, 1)), url(http://foo.com/image.jpg);    border-radius: 6px;
    color: #fff;
    background: $primary;
    width: 70%;
    margin-left: 20px;
    border-radius: 6px;

    @include tablet {
        font-size: 20px !important;
        width: 70%;
    }

    @include desktop {
        margin-top:100px;
        height: 160px;
        // color: #fff;
        // background: linear-gradient(70deg, rgba(255,255,255,0), rgba(17, 97, 73, 1)), url(http://foo.com/image.jpg);
        padding: 10px;
        width: 55%;
        margin-left: 40px;
        font-size: 25px;

    }
}

.letters-container-two {
    display: flex;
    margin-top:30px;
    flex-direction: column;
    overflow: hidden;
    height: 160px;
    color: #fff;
    background: linear-gradient(70deg, rgba(255,255,255,0), rgba(17, 97, 73, 1)), url(http://foo.com/image.jpg);
    border-radius: 6px;
    font-size: 20px;
    margin-left: 150px;
    width: 50%;


    @include desktop {
        margin-top:80px;
        height: 160px;
        color: #fff;
        background: linear-gradient(70deg, rgba(255,255,255,0), rgba(17, 97, 73, 1)), url(http://foo.com/image.jpg);
        padding: 10px;
        width: 55%;
        margin-left: 40%;
        border-radius: 6px;
        font-size: 25px;

    }
}

.letters-container-three {
    display: flex;
    margin-top:30px;
    flex-direction: column;
    height: 180px;
    color: #fff;
    background: linear-gradient(70deg, rgba(255,255,255,0), rgba(17, 97, 73, 1)), url(http://foo.com/image.jpg);    border-radius: 6px;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 20px;
    width: 40%;
    margin-left: 20px;

    @include desktop {
        margin-top:80px;
        margin-bottom: 80px;
        height: 160px;
        color: $primary;
        background: #fff;
        padding: 10px;
        width: 60%;
        margin-left: 40px;
        border-radius: 6px;
        font-size: 25px;
    }
}

@keyframes change {
    0% {margin-top: 0;
        transition: all .8s cubic-bezier(.77,0,.18,1);
    }
    20% {margin-top: 0;
        transition: all .8s cubic-bezier(.77,0,.18,1);
    }
    25% {
        transform: translate3d(0,100%,0);
        opacity: 0;
        margin-top: -20px;
    }
    50% {
        transform: translate3d(0,100%,0);
        opacity: 0;
        margin-top: -20px;
    }
    55% {
        transform: translate3d(0,100%,0);
        opacity: 0;
        margin-top: -20px;
    }
    80% {
        transform: translate3d(0,100%,0);
        opacity: 0;
        margin-top: -20px;
    }
    85% {
        transform: translate3d(0,100%,0);
        opacity: 0;
        margin-top: 0px;
    }
    95% {
        transform: translate3d(0,100%,0);
        opacity: 0;
        margin-top: 0px;
    }
    100% {
        transform: translate3d(0,100%,0);
        opacity: 0;
        margin-top: -0;
    }
}

span {
    font-weight: bold;
    font-size: 30px;
}

.list {
    display: flex;
    // flex-direction: row !important;
    // flex-flow: row !important;
    width: 500px !important;
    text-align: center;
    height: auto;
    // @include mobile {
    //     width: 100%;
    // }

    .image {
        width: 100%;
    }
}
</style>
