<template>
    <div
        class="change-container"
    >
        <title-main class="header" :title="'Registro inicial'" />
        <span class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, exercitationem non cumque rem eius quibusdam nobis quidem voluptas blanditiis et illum quasi optio veritatis minus quo deleniti ut dolore voluptatibus.</p>
        </span>
        <ripuy-button
            :color="'#F7F7F7'"
            :title="'Información Personal'"
            color-text="#000"
            :icon-left="icons.personal"
            :icon-right="personalFormChecked ? icons.check : icons.chevron"
            justify="space-between"
            padding-button="30px 10px"
            class="personal"
            @click="personalInformation"
        />
        <ripuy-button
            :color="'#F7F7F7'"
            :title="'Información Laboral'"
            color-text="#000"
            :icon-left="icons.professional"
            :icon-right="professionalFormChecked ? icons.check : icons.chevron"
            justify="space-between"
            padding-button="30px 10px"
            class="personal"
            @click="workingInformation"
        />
        <ripuy-button class="end" :title="'Finalizar'" @click="$emit( 'final' )" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import { CLIENT } from 'ripuy-request';
import { User } from '~/utils/interfaces';

@Component( {
    components: {
        TitleMain,
        RipuyButton
    }
} )
class InitialRegistration extends Vue {
    icons: Record<string, string> = {
        personal: 'mdi-account',
        professional: 'mdi-briefcase',
        check: 'mdi-check-circle',
        chevron: 'mdi-chevron-right'
    }

    personalFormChecked: boolean = false;
    professionalFormChecked: boolean = false;

    async beforeMount () {
        try {
            const user: User | null = this.$store.getters['sessionStorage/getUser'];
            if ( user ) {
                const { informacionPersonal } = await this.$apiClient.personal.informacionPersonal(
                    { where: { id: user._id } }, { client: CLIENT.CODE }
                );
                if ( informacionPersonal ) {
                    this.personalFormChecked = true;
                }
                const { informacionLaboral } = await this.$apiClient.professional.informacionLaboral(
                    { where: { user: { id: user._id } } }, { client: CLIENT.CODE }
                );
                const { informacionNoLaboral } = await this.$apiClient.professional.informacionNoLaboral(
                    { where: { user: { id: user._id } } }, { client: CLIENT.CODE }
                );
                if ( informacionLaboral || informacionNoLaboral ) {
                    this.professionalFormChecked = true;
                }
            } else {
                this.$router.push( '/' );
            }
        } catch ( error ) {
            console.error( error );
        }
    }

    personalInformation () {
        this.$router.push( '/personal-information' );
    }

    workingInformation () {
        this.$router.push( '/working-information' );
    }
}

export default InitialRegistration;
</script>

<style lang="scss" scoped>
.change-container {
    display: flex;
    flex-flow: column;
    margin-top:80px;
    padding: 10px;
}

.header {
    margin-bottom: 10px;
    text-align: center;
    @include desktop {
        padding-top: 50px;
    }
}

span {
    text-align: center;
}

.text {
    margin-top: 20px;
    margin-bottom: 40px;
}

.password {
    color: #000;
    text-decoration: none !important;
    margin-top: 20px;
}

.input-login {
    flex: 0 1 auto;
}

.personal {
    margin-bottom: 15px;
}

.end {
    margin-top: 10px;
}

</style>
