<template>
    <client-only>
        <loader v-if="!loading" />
        <div
            v-else
            class="personal-information"
        >
            <title-main class="header" :title="'Información personal'" />
            <v-form
                ref="form"
                lazy-validation
                class="form-container"
            >
                <v-row>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <div class="group-radio">
                            <v-radio-group
                                v-model="formData.tipo_identificacion"
                                hide-details
                                class="radio-flex"
                                disabled
                                label="Tipo de identificación"
                            >
                                <v-radio
                                    value="CC"
                                    :label="identityType.CC"
                                />
                                <v-radio
                                    value="CE"
                                    :label="identityType.CE"
                                />
                                <v-radio
                                    value="TI"
                                    :label="identityType.TI"
                                />
                            </v-radio-group>
                        </div>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-text-field
                            v-model="formData.identificacion"
                            name="formData.identificacion"
                            label="Identificación*"
                            outlined
                            dense
                            disabled
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-text-field
                            v-model="formData.nombres"
                            name="formData.nombres"
                            label="Nombres*"
                            outlined
                            dense
                            disabled
                            required
                            :rules="nombresRules"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-text-field
                            v-model="formData.apellidos"
                            name="formData.apellidos"
                            label="Apellidos*"
                            outlined
                            dense
                            disabled
                            required
                            :rules="apellidosRules"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="formData.fecha_nacimiento"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="formData.fecha_nacimiento"
                                    label="Fecha de Nacimiento"
                                    prepend-icon="mdi-calendar"
                                    outlined
                                    dense
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                />
                            </template>
                            <v-date-picker
                                v-model="formData.fecha_nacimiento"
                                no-title
                                scrollable
                            >
                                <v-spacer></v-spacer>
                                <v-btn
                                    text
                                    color="primary"
                                    @click="menu = false"
                                >
                                    Cancel
                                </v-btn>
                                <v-btn
                                    text
                                    color="primary"
                                    @click="$refs.menu.save(formData.fecha_nacimiento)"
                                >
                                    OK
                                </v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <div class="group-radio">
                            <v-radio-group
                                v-model="formData.genero"
                                hide-details
                                class="radio-flex"
                                label="Genero"
                            >
                                <v-radio
                                    value="MASCULINO"
                                    label="MASCULINO"
                                />
                                <v-radio
                                    value="FEMENINO"
                                    label="FEMENINO"
                                />
                                <v-radio
                                    value="OTRO"
                                    label="OTRO"
                                />
                            </v-radio-group>
                        </div>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-text-field
                            v-model="formData.celular"
                            name="formData.celular"
                            outlined
                            dense
                            label="Celular*"
                            required
                            :rules="celularRules"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-text-field
                            v-model="formData.correo"
                            name="formData.correo"
                            outlined
                            dense
                            label="Correo Electronico*"
                            required
                            :rules="correoRules"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-select
                            v-model="formData.municipio_nacimiento"
                            :value="formData.municipio_nacimiento"
                            item-text="nombre"
                            item-value="id"
                            label="Municipio de Nacimiento"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="townships"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-select
                            v-model="formData.municipio_recidencia"
                            :value="formData.municipio_recidencia"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="townships"
                            item-text="nombre"
                            item-value="id"
                            label="Municipio de residencia"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-select
                            v-model="formData.clase_etnografica"
                            :value="formData.clase_etnografica"
                            background-color="#fff"
                            color="#13AA52"
                            item-color="#13AA52"
                            :items="ethnographicClass"
                            label="Clase Etnográfica"
                            item-text="nombre"
                            item-value="id"
                            :multiple="false"
                            dense
                            persistent-hint
                            outlined
                            :return-object="true"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-radio-group
                            v-model="formData.tiene_discapacidad"
                            hide-details
                            class="radio-flex"
                            label="Discapacidad"
                        >
                            <v-radio
                                :value="yesDisability"
                                label="Si"
                            />
                            <v-radio
                                :value="noDisability"
                                label="No"
                            />
                        </v-radio-group>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <general-select
                            v-if="formData.tiene_discapacidad"
                            v-model="formData.discapacidad"
                            :selected="formData.discapacidad"
                            item-text="nombre"
                            item-value="id"
                            label="Seleccionar discapacidad"
                            :return-object="true"
                            :multiple="false"
                            :items="disabilities"
                        />
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        class="px-2 py-2"
                    >
                        <v-textarea
                            v-if="formData.tiene_discapacidad"
                            v-model="formData.motivo_discapacidad"
                            name="formData.motivo_discapacidad"
                            label="Motivo de discapacidad"
                            outlined
                            dense
                        />
                    </v-col>
                </v-row>
                <div class="content-button">
                    <ripuy-button class="button" :title="'Guardar'" padding-button="10px" @click="updatePersonalInformation" />
                </div>
            </v-form>
        </div>
    </client-only>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Vue } from 'nuxt-property-decorator';
import {
    CLIENT, IdentityType, Gender, clasesEtnograficas_clasesEtnograficas,
    discapacidades_discapacidades, paises_paises, egresado_egresado
} from 'ripuy-request';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import GeneralSelect from '@/components/commons/GeneralSelect.vue';
import Loader from '@/components/commons/Loader.vue';
import { User } from '@/utils/interfaces';

@Component( {
    components: {
        TitleMain,
        GeneralSelect,
        RipuyButton,
        Loader
    }
} )
class PersonalInformation extends Vue {
    @Model( 'change' ) model: any;
    townships: any | null = [];
    ethnographicClass: clasesEtnograficas_clasesEtnograficas[] | null = [];
    disabilities: ( discapacidades_discapacidades | null )[] | null = [];
    countries: paises_paises[] = [];
    user: any = null;
    menu: boolean = false;
    formData: any = {
        identificacion: '', //
        tipo_identificacion: '', // enum
        pais_expedicion: '',
        nombres: '',
        apellidos: '',
        genero: '', // enum
        fecha_nacimiento: '',
        correo: '',
        municipio_recidencia: null,
        municipio_nacimiento: null,
        celular: '',
        permiso: '',
        primer_ingreso: '',
        clase_etnografica: null,
        tiene_discapacidad: false,
        discapacidad: null,
        motivo_discapacidad: ''
    }

    loading: boolean = false;

    yesDisability: Boolean = true;
    noDisability: Boolean = false;

    masculino: Boolean = false;
    femenino: Boolean = false;
    otro: Boolean = false;

    correoRules: any[] = [
        ( v: any ) => !!v || 'El correo electronico es obligatorio'
    ];

    celularRules: any[] = [
        ( v: any ) => !!v || 'El número de celular es obligatorio'
    ];

    nombresRules: any[] = [
        ( v: any ) => !!v || 'Los nombres son obligatorios'
    ];

    apellidosRules: any[] = [
        ( v: any ) => !!v || 'Los apellidos son obligatorios'
    ];

    mounted () {
        this.loadDisabilities();
        this.setupSession();
        this.loadEthnographicClass();
        this.loadTownships();
        this.loadCountries();
    }

    get identityType () {
        return IdentityType;
    }

    get gender () {
        return Gender;
    }

    async setupSession () {
        this.loading = true;
        try {
            if ( this.$route.query?.id ) {
                const { egresado } = await this.$apiClient.personal.egresado(
                    { where: { id: this.$route.query.id as string } }, { client: CLIENT.CODE }
                );
                if ( egresado ) {
                    this.user = { ...egresado, _id: egresado.id };
                }
            } else {
                this.user = this.$store.getters['sessionStorage/getUser'];
            }
            if ( this.user ) {
                const { informacionPersonal } = await this.$apiClient.personal.informacionPersonal(
                    { where: { id: this.user._id } }, { client: CLIENT.CODE }
                );
                console.log( informacionPersonal )
                this.formData = this.model || {
                    tipo_identificacion: this.user.tipo_identificacion,
                    pais_expedicion: this.user.pais_expedicion,
                    identificacion: this.user.identificacion,
                    nombres: this.user.nombres,
                    apellidos: this.user.apellidos,
                    fecha_nacimiento: this.user.fecha_nacimiento ? this.user.fecha_nacimiento.slice( 0, 10 ) : '',
                    genero: this.user.genero ? this.user.genero : '' ,
                    celular: this.user.celular ? this.user.celular : '',
                    correo: this.user.correo ? this.user.correo : '',
                    municipio_recidencia: informacionPersonal?.municipio_recidencia,
                    municipio_nacimiento: informacionPersonal?.municipio_nacimiento,
                    clase_etnografica: informacionPersonal?.clase_etnografica,
                    tiene_discapacidad: informacionPersonal && informacionPersonal.tiene_discapacidad ? informacionPersonal.tiene_discapacidad : false,
                    discapacidad: informacionPersonal && informacionPersonal.discapacidad ? informacionPersonal.discapacidad : null,
                    motivo_discapacidad: informacionPersonal?.motivo_discapacidad
                };
                console.log( this.formData );
            } else {
                this.$router.push( '/' );
            }
        } catch ( error ) {
            console.error( error.message );
            this.$router.push( '/' );
        }
    }

    @Watch( 'yesDisability' )
    onYesDisabilityChange ( value: any ) {
        this.formData.tiene_discapacidad = value;
    }

    @Watch( 'noDisability' )
    onNoDisabilityChange ( value: any ) {
        this.formData.tiene_discapacidad = value;
    }

    @Watch( 'CC' )
    onCcChange ( value: any ) {
        this.formData.tipo_identificacion = value;
    }

    @Watch( 'CE' )
    onCeChange ( value: any ) {
        this.formData.tipo_identificacion = value;
    }

    @Watch( 'TI' )
    onTiChange ( value: any ) {
        this.formData.tipo_identificacion = value;
    }

    @Watch( 'MASCULINO' )
    onMasculinoChange ( value: any ) {
        this.formData.genero = value;
    }

    @Watch( 'FEMENINO' )
    onFemeninoChange ( value: any ) {
        this.formData.genero = value;
    }

    @Watch( 'OTRO' )
    onOtroChange ( value: any ) {
        this.formData.genero = value;
    }

    // @Watch( 'formData.genero' )
    // onGeneroChange ( value: any ) {
    //     this.formData.genero = value;
    // }

    @Watch( 'model' )
    onDataChange ( value: any ) {
        if ( value ) {
            this.formData = value;
        }
    }

    async loadTownships () {
        const { municipios } = await this.$apiClient.commons.municipios( { client: CLIENT.CODE } );
        this.townships = municipios;
    }

    async loadEthnographicClass () {
        const { clasesEtnograficas } = await this.$apiClient.personal.clasesEtnograficas( { client: CLIENT.CODE } );
        this.ethnographicClass = clasesEtnograficas;
    }

    async loadDisabilities () {
        const { discapacidades } = await this.$apiClient.personal.discapacidades( { client: CLIENT.CODE } );
        this.disabilities = discapacidades;
    }

    async loadCountries () {
        const { paises } = await this.$apiClient.commons.paises( { client: CLIENT.CODE } );
        this.countries = paises;
    }

    async updatePersonalInformation () {
        const isValid = ( this.$refs.form as Vue & { validate: () => boolean } ).validate();
        if ( isValid && this.user ) {
            try {
                if ( this.formData.discapacidad?.nombre ) {
                    this.formData.discapacidad = this.formData.discapacidad?.id;
                }
                if ( this.formData.municipio_recidencia?.nombre ) {
                    this.formData.municipio_recidencia = this.formData.municipio_recidencia?.id;
                }
                if ( this.formData.municipio_nacimiento?.nombre ) {
                    this.formData.municipio_nacimiento = this.formData.municipio_nacimiento?.id;
                }
                if ( this.formData.clase_etnografica?.nombre ) {
                    this.formData.clase_etnografica = this.formData.clase_etnografica?.id;
                }

                if ( this.formData.discapacidad?.nombre ) {
                    this.formData.discapacidad = this.formData.discapacidad?.id;
                }

                await this.$apiClient.personal.updateInformacionPersonal( {
                    data: {
                        genero: this.formData.genero,
                        fecha_nacimiento: this.formData.fecha_nacimiento,
                        celular: this.formData.celular,
                        correo: this.formData.correo,
                        municipio_recidencia: { id: this.formData.municipio_recidencia },
                        municipio_nacimiento: { id: this.formData.municipio_nacimiento },
                        clase_etnografica: { id: this.formData.clase_etnografica },
                        tiene_discapacidad: this.formData.tiene_discapacidad,
                        discapacidad: { id: this.formData.discapacidad },
                        motivo_discapacidad: this.formData.motivo_discapacidad
                    },
                    where: {
                        user: {
                            id: this.user._id
                        }
                    }
                }, { client: CLIENT.CODE } );
                this.$Swal( 'success', 'Su información personal ha sido actualizada satisfactoriamente', 5000 );
            } catch ( err ) {
                this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
                console.error( err );
            }
        }
    }
}

export default PersonalInformation;
</script>

<style lang="scss" scoped>
.personal-information {
    display: flex;
    flex-direction: column;
    padding: 10px;
    @include tablet {
        margin-top:80px;
        text-align: center;
    }
    @include mobile {
        margin-top:80px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.header {
    margin-bottom: 10px;
    text-align: center;
    @include desktop {
        padding-top: 50px;
    }
}

.radio-flex {
    display: flex;
    margin-bottom: 15px;
    padding: 0;
    margin-top: 0;
}

.group-option {
}

.group-radio {
    margin-bottom: 20px;
}
.form-container {
    display: flex;
    flex-flow: column;
    width: 100%;

    @include desktop {
        padding: 20px;
    }
    .content-button {
        display: flex;
        justify-content: flex-end;

       .button {
            @include mobile {
                width: 100%;
                justify-content: inherit;
            }
       }
    }
}
</style>
