<template>
    <div class="container-settings">
        <v-row>
            <v-col>
                <v-icon style="margin-bottom:10px;font-size:2rem;">
                    mdi-lock
                </v-icon>
                <title-main class="header" :title="'Permisos'" />
            </v-col>
        </v-row>
        <span class="text">
            <p>
                Puede asignar permisos de edición de su información a los usuarios administradores para acciones administrativas pertinentes.
                En cualquier momento podrá retirar los permisos asignados.
            </p>
        </span>
        <div class="content-switch">
            <v-switch
                v-model="accept"
                class="switch"
                :label="`${accept ? 'Si' : 'No' }`"
                inset
                dense
                hide-details
                @change="onChangeShowInPlace"
            />
            <span style="padding-bottom:20px;padding-top:10px;">Conceder permisos</span>
        </div>
        <v-container fluid>
            <p class="text-xs-left">
                <v-icon :color="iconColor">
                    mdi-checkbox-marked-circle
                </v-icon>
                Edición de tu información personal
            </p>
            <p class="text-xs-left">
                <v-icon :color="iconColor">
                    mdi-checkbox-marked-circle
                </v-icon>
                Edición de tu información académica
            </p>
            <p class="text-xs-left">
                <v-icon :color="iconColor">
                    mdi-checkbox-marked-circle
                </v-icon>
                Edición de tu información laboral
            </p>
        </v-container>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import TitleMain from '@/components/commons/TitleMain.vue';
import Container from '@/components/commons/Container.vue';
import { CLIENT } from 'ripuy-request';
import { User } from '@/utils/interfaces';

@Component( {
    components: {
        TitleMain, Container
    }
} )
class Settings extends Vue {
    accept: boolean = false;
    iconColor: string = '';

    // TODO: importar correctamente los colores de l paleta
    greenColor: string = '#13AA52';
    greyColor: string = '#757575';

    beforeMount () {
        const user: User | null = this.$store.getters['sessionStorage/getUser'];
        if ( user ) {
            this.accept = !!user.permiso;
            this.iconColor = this.accept ? this.greenColor : this.greyColor;
        } else {
            this.$router.push( '/' );
        }
    }

    async onChangeShowInPlace () {
        const { setPermisos } = await this.$apiClient.personal.setPermisos(
            { data: { allow: this.accept } },
            { client: CLIENT.CODE }
        );
        this.iconColor = setPermisos.allowed ? this.greenColor : this.greyColor;
    }
}
export default Settings;

</script>

<style lang="scss" scoped>
.container-settings {
    padding-left: 20px;
    padding-right: 20px;
    margin-top:80px;
    width: 100%;
    display: flex;
    text-align: center;
    @include mobile {
        max-width: 599.99px;
        flex-flow: column;
    }
    @include desktop {
        max-width: 1366px;
    }

    .text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .switch {
        display: flex;
        text-align: center;
    }

}

.header {
    margin-bottom: 10px;
    text-align: center;
    @include desktop {
        padding-top: 50px;
    }
}

.content-switch {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

</style>
