<template>
    <loader v-if="!loading" />
    <div
        v-else
        class="working-information"
    >
        <title-main class="header" :title="'Información laboral'" />
        <div class="group-radio">
            <v-radio-group
                v-model="respWorking"
                hide-details
                class="radio-flex"
                label="¿Tiene trabajo actualmente?"
            >
                <v-radio
                    :value="yesWorking"
                    label="Si"
                />
                <v-radio
                    :value="noWorking"
                    label="No"
                />
            </v-radio-group>
        </div>
        <v-form
            v-if="respWorking === yesWorking && formData"
            ref="form"
            lazy-validation
            class="form-container"
        >
            <v-row>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-text-field
                        v-model="formData.fecha_inicio"
                        type="date"
                        outlined
                        dense
                        label="Fecha de inicio"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-text-field
                        v-model="formData.fecha_finalizacion"
                        type="date"
                        outlined
                        dense
                        label="Fecha de Finalización"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formData.tipo_contrato"
                        :value="formData.tipo_contrato"
                        :items="tipoContrato"
                        label="Tipo de contrato"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :multiple="false"
                        dense
                        persistent-hint
                        outlined
                        :return-object="true"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-text-field
                        v-model="formData.role"
                        label="Rol"
                        name="formData.id"
                        outlined
                        dense
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formData.salario"
                        :value="formData.salario"
                        :items="salario"
                        label="Salario"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :multiple="false"
                        dense
                        persistent-hint
                        outlined
                        :return-object="false"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-text-field
                        v-model="formData.ocupacion"
                        label="Ocupación"
                        name="ocupacion"
                        outlined
                        dense
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formData.municipio"
                        :value="formData.municipio"
                        item-text="nombre"
                        item-value="id"
                        label="Municipio de trabajo*"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :items="townships"
                        :multiple="false"
                        :rules="municipioRules"
                        dense
                        persistent-hint
                        outlined
                        :return-object="true"
                        required
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formData.empresa"
                        :value="formData.empresa"
                        item-text="nombre"
                        item-value="id"
                        label="Empresa"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :items="business"
                        :multiple="false"
                        dense
                        persistent-hint
                        outlined
                        :return-object="true"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-text-field
                        v-model="formData.horas_trabajo"
                        name="formData.id"
                        outlined
                        dense
                        type="number"
                        label="Número de horas trabajadas semanalmente"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formData.grado_satisfaccion"
                        :value="formData.grado_satisfaccion"
                        item-text="nombre"
                        item-value="id"
                        label="Grado de satisfacción"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :items="gradoSatisfaccion"
                        :multiple="false"
                        dense
                        persistent-hint
                        outlined
                        :return-object="false"
                    />
                </v-col>
            </v-row>
            <div class="content-button">
                <ripuy-button
                    :title="'Guardar'"
                    padding-button="10px"
                    class="button"
                    @click="updateWorkingInformation"
                />
            </div>
        </v-form>
        <v-form
            v-if="respWorking === noWorking"
            ref="form"
            lazy-validation
            class="form-container"
        >
            <v-row>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formDataNo.actividad_actual"
                        :value="formDataNo.actividad_actual"
                        item-text="descripcion"
                        item-value="id"
                        label="Actividad actual"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :items="actualActivities"
                        :multiple="false"
                        dense
                        persistent-hint
                        outlined
                        :return-object="true"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formDataNo.canales_busqueda"
                        :value="formDataNo.canales_busqueda"
                        item-text="descripcion"
                        item-value="id"
                        label="¿Qué canal de búsqueda para trabajo has utilizado?"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :items="communicationChannels"
                        :multiple="false"
                        dense
                        persistent-hint
                        outlined
                        :return-object="true"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-text-field
                        v-model="formDataNo.tiempo_busqueda"
                        name="tiempo"
                        outlined
                        dense
                        type="number"
                        label="¿Cuantos meses lleva como desempleado?"
                    />
                </v-col>
                <v-col
                    cols="12"
                    sm="6"
                    md="4"
                    class="px-2 py-2"
                >
                    <v-select
                        v-model="formDataNo.razon_dificultad"
                        :value="formDataNo.razon_dificultad"
                        item-text="descripcion"
                        item-value="id"
                        label="¿Cual es la razón por la cual no consigue trabajo?"
                        background-color="#fff"
                        color="#13AA52"
                        item-color="#13AA52"
                        :items="workDifficulty"
                        :multiple="false"
                        dense
                        persistent-hint
                        outlined
                        :return-object="true"
                    />
                </v-col>
            </v-row>
            <div class="content-button">
                <ripuy-button
                    :title="'Guardar'"
                    padding-button="10px"
                    class="button"
                    @click="updateWorkingNoInformation"
                />
            </div>
        </v-form>
    </div>
</template>

<script lang="ts">
import { Component, Watch, Vue } from 'nuxt-property-decorator';
import {
    CLIENT, empresas_empresas,
    actividadesActuales_actividadesActuales,
    canalesComunicacion_canalesComunicacion,
    razonesDificultadTrabajo_razonesDificultadTrabajo,
    TipoContrato, Salario, GradoSatisfaccion
} from 'ripuy-request';
import GeneralSelect from '@/components/commons/GeneralSelect.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import TitleMain from '@/components/commons/TitleMain.vue';
import Loader from '@/components/commons/Loader.vue';

@Component( {
    components: {
        TitleMain,
        RipuyButton,
        GeneralSelect,
        Loader
    }
} )
class WorkingInformation extends Vue {
    formData: any = {
        empresa: null,
        ocupacion: '',
        role: '',
        tipo_contrato: null,
        salario: null,
        fecha_inicio: null,
        fecha_finalizacion: null,
        municipio: null,
        horas_trabajo: 0,
        grado_satisfaccion: null
    };

    formDataNo: any = {
        actividad_actual: null,
        canales_busqueda: null,
        tiempo_busqueda: 0,
        razon_dificultad: null
    };

    respWorking: Boolean = false;
    yesWorking: Boolean = true;
    noWorking: Boolean = false;
    business: empresas_empresas[] | null = [];
    actualActivities: actividadesActuales_actividadesActuales[] | null = [];
    communicationChannels: ( canalesComunicacion_canalesComunicacion | null )[] | null = [];
    workDifficulty: ( razonesDificultadTrabajo_razonesDificultadTrabajo | null )[] | null = [];
    townships: any | null = [];
    tipoContrato: any = [];
    salario: any = [];
    gradoSatisfaccion: any = [];
    user: any = null;

    loading: boolean = false;

    municipioRules: any[] = [
        ( v: any ) => !!v || 'El municipio es requerido'
    ];

    @Watch( 'yesWorking' )
    onYesWorkingChange ( value: any ) {
        this.respWorking = value;
    }

    @Watch( 'noWorking' )
    onNoWorkingChange ( value: any ) {
        this.respWorking = value;
    }

    @Watch( 'respWorking' )
    onRespWorkingChange ( value: any ) {
        this.respWorking = value;
    }

    @Watch( 'formData' )
    onDataChange ( value: any ) {
        if ( value ) {
            this.formData = value;
        }
    }

    @Watch( 'formDataNo' )
    onDataChangeFormDataNo ( value: any ) {
        if ( value ) {
            this.formDataNo = value;
        }
    }

    beforeMount () {
        this.setupSession();
        this.loadBusiness();
        this.loadActualActivities();
        this.loadCommunicationChannels();
        this.loadWorkDifficulty();
        this.loadTownships();
        this.tipoContrato = Object.values( TipoContrato );
        this.salario = Object.values( Salario );
        this.gradoSatisfaccion = Object.values( GradoSatisfaccion );
    }

    async setupSession () {
        try {
            if ( this.$route.query?.id ) {
                const { egresado } = await this.$apiClient.personal.egresado(
                    { where: { id: this.$route.query.id as string } }, { client: CLIENT.CODE }
                );
                if ( egresado ) {
                    this.user = { ...egresado, _id: egresado.id };
                }
            } else {
                this.user = this.$store.getters['sessionStorage/getUser'];
            }
            if ( this.user ) {
                const { informacionLaboral } = await this.$apiClient.professional.informacionLaboral(
                    { where: { user: { id: this.user._id } } }, { client: CLIENT.CODE }
                );
                const { informacionNoLaboral } = await this.$apiClient.professional.informacionNoLaboral(
                    { where: { user: { id: this.user._id } } }, { client: CLIENT.CODE }
                );
                this.loading = true;
                if ( informacionLaboral ) {
                    this.formData = informacionLaboral;
                    this.respWorking = true;
                } else if ( informacionNoLaboral ) {
                    this.respWorking = false;
                    this.formDataNo = informacionNoLaboral;
                }
            } else {
                this.$router.push( '/' );
            }
        } catch ( error ) {
            console.error( error.message );
            this.$router.push( '/' );
        }
    }

    async loadBusiness () {
        // TODO: configurar paginación
        const { empresas } = await this.$apiClient.professional.empresas( {}, { client: CLIENT.CODE } );
        this.business = empresas;
    }

    async loadActualActivities () {
        const { actividadesActuales } = await this.$apiClient.professional.actividadesActuales( { client: CLIENT.CODE } );
        this.actualActivities = actividadesActuales;
    }

    async loadCommunicationChannels () {
        const { canalesComunicacion } = await this.$apiClient.professional.canalesComunicacion( { client: CLIENT.CODE } );
        this.communicationChannels = canalesComunicacion;
    }

    async loadWorkDifficulty () {
        const { razonesDificultadTrabajo } = await this.$apiClient.professional.razonesDificultadTrabajo( { client: CLIENT.CODE } );
        this.workDifficulty = razonesDificultadTrabajo;
    }

    async loadTownships () {
        const { municipios } = await this.$apiClient.commons.municipios( { client: CLIENT.CODE } );
        this.townships = municipios.map( ( township: any ) => {
            return {
                id: township.id,
                nombre: township.nombre
            };
        } );
    }

    async updateWorkingInformation () {
        const isValid = ( this.$refs.form as Vue & { validate: () => boolean } ).validate();
        if ( isValid && this.user ) {
            try {
                await this.$apiClient.professional.updateInformacionLaboral( {
                    data: {
                        empresa: { id: this.formData.empresa?.id },
                        ocupacion: this.formData.ocupacion,
                        role: this.formData.role,
                        tipo_contrato: this.formData.tipo_contrato || undefined,
                        salario: this.formData.salario || undefined,
                        fecha_inicio: this.formData.fecha_inicio,
                        fecha_finalizacion: this.formData.fecha_finalizacion,
                        municipio: { id: this.formData.municipio?.id },
                        horas_trabajo: parseInt( this.formData.horas_trabajo ),
                        grado_satisfaccion: this.formData.grado_satisfaccion
                    },
                    where: {
                        user: {
                            id: this.user._id
                        }
                    }
                }, { client: CLIENT.CODE } );
                this.$Swal( 'success', 'Su información laboral ha sido actualizada satisfactoriamente', 5000 );
            } catch ( err ) {
                this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
                console.error( err );
            }
        }
    }

    async updateWorkingNoInformation () {
        const isValid = ( this.$refs.form as Vue & { validate: () => boolean } ).validate();
        if ( isValid && this.user ) {
            try {
                await this.$apiClient.professional.updateInformacionNoLaboral( {
                    data: {
                        actividad_actual: this.formDataNo.actividad_actual ? { id: this.formDataNo.actividad_actual?.id } : undefined,
                        canales_busqueda: this.formDataNo.canales_busqueda ? [{ id: this.formDataNo.canales_busqueda?.id }] : undefined,
                        tiempo_busqueda: parseInt( this.formDataNo.tiempo_busqueda ),
                        razon_dificultad: this.formDataNo.razon_dificultad ? { id: this.formDataNo.razon_dificultad?.id } : undefined
                    },
                    where: {
                        user: {
                            id: this.user._id
                        }
                    }
                }, { client: CLIENT.CODE } );
                this.$Swal( 'success', 'Su información no laboral ha sido actualizada satisfactoriamente', 5000 );
            } catch ( err ) {
                this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
                console.error( err );
            }
        }
    }
}

export default WorkingInformation;
</script>

<style lang="scss" scoped>
.working-information {
    display: flex;
    flex-flow: column;
    padding: 10px;
    @include desktop {
        padding: 20px;
    }
    @include mobile {
        margin-top:80px;
        text-align: center;
    }
    @include tablet {
        margin-top:80px;
        text-align: center;
    }
}

.group-radio {
    margin-bottom: 20px;
    @include desktop {
        padding: 20px;
    }

    .radio-flex::v-deep {
        display: flex;
        flex-direction: row !important;
    }
}

.form-container {
    display: flex;
    flex-direction: column;

    @include desktop {
        padding: 20px;
    }

    .content-button {
        display: flex;
        justify-content: flex-end;

       .button {
            @include mobile {
                width: 100%;
                justify-content: inherit;
            }
       }
    }
}

.header {
    text-align: center;
}

</style>
