<template>
    <div class="container-carousel">
        <v-carousel
            cycle
            :height="$vuetify.breakpoint.smAndDown ? 260 : 500"
            hide-delimiter-background
            hide-delimiters
            show-arrows-on-hover
        >
            <v-carousel-item
                v-for="(event, i) in events"
                :key="i"
            >
                <ripuy-button
                    class="button-carousel"
                    title="Ver más"
                    padding-button="5px"
                    @click="goEventUrl( event.url )"
                />
                <v-img class="image-item" :src="event.poster" aspect-ratio="1.99" />
            </v-carousel-item>
        </v-carousel>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';
import RipuyButton from '~/components/commons/RipuyButton.vue';

@Component( {
    components: {
        RipuyButton
    }
} )
class CarouselEvents extends Vue {
    @Prop( { } ) events: any;

    goEventUrl ( url: string ) {
        window.open( url, '_blanck' );
    }
}

export default CarouselEvents;
</script>
<style lang="scss" scoped>
.image-item {
    background-position: center !important;
    background-size: 100%;
    background: cover;

    @include mobile {
        height: auto !important;
    }
}

.container-carousel {
    background: $softGreen;
    display: flex;
    width: 100%;
}

.button-carousel {
    z-index: 1000;
    top: 73%;
    left: 10px;
    @include mobile {
        top: 58%;
    }
}
</style>
