<template>
    <general-modal
        :show="showModal"
        close-icon="true"
        :padding="'10px'"
        @close="$emit( 'close' )"
    >
        <v-icon>{{ icon }}</v-icon> <title-main class="header" :title="title" />
        <v-form ref="form">
            <v-select
                v-model="offerData.categoria"
                :value="offerData.categoria"
                item-text="nombre"
                item-value="id"
                label="Categorías"
                background-color="#fff"
                color="#13AA52"
                item-color="#13AA52"
                :items="categories"
                :multiple="false"
                dense
                persistent-hint
                outlined
                :rules="categoryRules"
                required
                :return-object="true"
            />
            <v-select
                v-model="offerData.solicitante"
                :value="offerData.solicitante"
                item-text="nombre"
                item-value="id"
                label="Solicitante"
                background-color="#fff"
                color="#13AA52"
                item-color="#13AA52"
                :items="business"
                :multiple="false"
                dense
                persistent-hint
                outlined
                :return-object="true"
            />
            <div>
                <v-textarea
                    v-model="offerData.descripcion"
                    label="Motivo de Solicitud trabajo"
                    outlined
                    dense
                />
            </div>
            <div>
                <v-text-field
                    v-model="offerData.telefono"
                    name="offerData.telefono"
                    outlined
                    dense
                    label="Teléfono"
                />
            </div>
            <div>
                <v-text-field
                    v-model="offerData.correo"
                    name="offerData.correo"
                    outlined
                    dense
                    label="Correo Electrónico"
                />
            </div>
            <ripuy-button :title="buttonLabel" padding-button="10px" @click="click" />
        </v-form>
    </general-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import GeneralSelect from '@/components/commons/GeneralSelect.vue';
import { categorias_categorias, CLIENT, empresa_empresa } from 'ripuy-request';

@Component( {
    components: {
        GeneralModal,
        TitleMain,
        RipuyButton,
        GeneralSelect
    }
} )
class ModalPostForm extends Vue {
    @Prop( {} ) icon: string;
    @Prop( {} ) title: string;
    @Prop( { default: 'Guardar' } ) buttonLabel: string;
    @Prop( { default: false } ) showModal: boolean;
    @Prop( {} ) offerData: any;

    categories: {id: string, nombre: string | null}[] | null | undefined = null;
    business: empresa_empresa[] | null | undefined = null;
    categoryRules: any[] = [
        ( v: any ) => !!v || 'La categoría es requerida'
    ];

    beforeMount () {
        this.offerData = this.offerData || {
            categoria: null,
            solicitante: null
        };
        this.loadCategories();
        this.loadBusiness();
    }

    async loadCategories () {
        const { categorias } = await this.$apiClient.post.categorias( { client: CLIENT.CODE } );
        this.categories = categorias?.map( ( categoria: categorias_categorias ) => (
            { id: categoria.id, nombre: categoria.nombre }
        ) );
    }

    async loadBusiness () {
        // TODO: configurar paginación
        const { empresas } = await this.$apiClient.professional.empresas( {}, { client: CLIENT.CODE } );
        this.business = empresas;
    }

    click () {
        this.offerData?.id ? this.updateOffer() : this.postOffer();
    }

    async updateOffer () {
        try {
            if ( this.offerData ) {
                await this.$apiClient.post.updateOferta(
                    {
                        where: { id: this.offerData.id },
                        data: {
                            categoria: { id: this.offerData.categoria.id },
                            solicitante: this.offerData.solicitante,
                            descripcion: this.offerData.descripcion,
                            telefono: this.offerData.telefono,
                            correo: this.offerData.correo
                        }
                    },
                    { client: CLIENT.CODE }
                );
                this.$Swal( 'success', 'Su publicación se ha modificado exitosamente', 5000 );
                this.$emit( 'close' );
            }
        } catch ( error ) {
            this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
            console.error( error.message );
        }
    }

    async postOffer () {
        try {
            const isValid = ( this.$refs.form as Vue & { validate: () => boolean } ).validate();
            if ( isValid && this.offerData ) {
                await this.$apiClient.post.createOferta( {
                    data: {
                        categoria: { id: this.offerData.categoria?.id },
                        solicitante: this.offerData.solicitante,
                        descripcion: this.offerData.descripcion,
                        telefono: this.offerData.telefono,
                        correo: this.offerData.correo
                    }
                }, { client: CLIENT.CODE } );
                this.$emit( 'update' );
                this.$Swal( 'success', 'Su publicación se ha creado exitosamente', 5000 );
                this.$emit( 'close' );
            }
        } catch ( error ) {
            this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
            console.error( error.message );
        }
    }
}
export default ModalPostForm;
</script>

<style>
</style>
