<template>
    <general-modal
        :show="showModal"
        close-icon="true"
        :padding="'10px'"
        @close="$emit( 'close' )"
    >
        <div class="container-modal-interested">
            <title-main class="title-main" title="Interesados" />
            <div class="list" v-if="interestedList">
                <span>{{ interestedList.totalCount }} resultados</span>
                <v-row class="list-interested">
                    <v-col
                        v-for="( user, i ) of interestedList.interesados"
                        :key="i"
                        cols="12"
                        sm="3"
                        md="4"
                    >
                        <user-card :user="user.user" :label="$offerDate(user.fecha_aplicacion)" />
                    </v-col>
                </v-row>
            </div>
        </div>
    </general-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import TitleMain from '@/components/commons/TitleMain.vue';
import { interesados_interesados } from 'ripuy-request';
import UserCard from '~/components/commons/UserCard.vue';

@Component( {
    components: {
        GeneralModal,
        TitleMain,
        UserCard
    }
} )
class ModalInterestedUsers extends Vue {
    @Prop( { default: false } ) showModal: boolean;
    @Prop( {} ) interestedList: interesados_interesados | null;
}
export default ModalInterestedUsers;
</script>

<style lang="scss" scoped>

.container-modal-interested {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title {
        text-align: center;
    }

    .list {
        display: flex;
        flex-direction: column;

        span {
            text-align: center;
        }
    }
}

.list-interested {
    margin-top: 30px;
}
</style>
