<template>
    <div class="offers-index">
        <scroll-container :has-infinite-scroll="true" :pixels-from-bottom="200" @asking-data="launchData( true )">
            <v-row class="content-search" slot="content">
                <v-col class="search" cols="12">
                    <loader v-if="loading" />
                    <search v-else v-model="filter" />
                </v-col>
                <v-col
                    v-for="(offer, i) of offers"
                    :key="i"
                    class="offer-card-content"
                >
                    <offer-card
                        :data="offer"
                        @update="launchData"
                        @deleteOffer="deleteOffer"
                    />
                </v-col>
            </v-row>
        </scroll-container>
        <modal-post-form
            icon="mdi-plus"
            title="Crear Publicación"
            button-label="Postear"
            :offer-data="offerData"
            :show-modal="showModalCreatePost"
            @close="close"
        />
        <ripuy-button v-if="isAdmin" class="create" title="Crear nueva publicación" padding-button="10px" @click="createPost" />

        <div v-if="isAdmin" class="container-button">
            <circle-button class="button" icon="mdi-plus" @click="createPost" />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator';
import { CLIENT, ofertas, ofertas_ofertas } from 'ripuy-request';
import OfferCard from '@/components/posts/OfferCard.vue';
import Loader from '@/components/commons/Loader.vue';
import Search from '@/components/posts/SearchOffers.vue';
import { OffersFilters } from '@/utils/interfaces';
import ScrollContainer from '@/components/commons/ScrollContainer.vue';
import CircleButton from '@/components/commons/CircleButton.vue';
import ModalPostForm from '@/components/posts/ModalPostForm.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import { UserRole, User } from '@/utils/interfaces';
import { setSession } from '~/utils/setSession';

@Component( {
    components: {
        CircleButton,
        OfferCard,
        Search,
        Loader,
        ScrollContainer,
        ModalPostForm,
        RipuyButton
    }
} )
class Offers extends Vue {
    user: User | null = null;
    offers: ofertas_ofertas[] | null = [];
    take: number = 10;
    cursor: string | undefined = '';
    loading: boolean = false;
    isAdmin: boolean = false;
    filter: OffersFilters = {
        text: ''
    }


    showModalCreatePost: boolean = false;

    offerData = {
        solicitante: null,
        categoria: null,
        descripcion: null,
        telefono: null,
        correo: null
    }

    // get isAdmin () {
    //     return this.user?.role === UserRole.ADMIN;
    // }

    close () {
        this.showModalCreatePost = !this.showModalCreatePost;
    }

    createPost () {
        this.showModalCreatePost = true;
    }

    async setupSession () {
        this.user =  await setSession( this.$store );
        if ( this.user && this.user?.role === UserRole.ADMIN ) {
            this.isAdmin = true;
        }else {
            this.isAdmin = false;
        }

        console.log( this.user, this.isAdmin );
    }

    beforeMount () {
        this.setupSession();
        this.launchData();
    }

    @Watch( 'filter' )
    searchLoader ( data: OffersFilters ) {
        this.cursor = '';
        this.launchData();
    }

    async launchData ( nextCursor = false ) {
        if ( this.filter.text !== '' ) {
            this.loading = true;
        }
        try {
            const { ofertas }: ofertas = await this.$apiClient.post.ofertas(
                {
                    where: { search: this.filter.text },
                    take: this.take,
                    cursor: this.cursor && this.cursor.length > 0 ? { id: this.cursor } : undefined
                },
                { client: CLIENT.CODE, apolloOptions: { fetchPolicy: 'network-only' } }
            );
            if ( ofertas ) {
                const ofertasLength = ofertas.length || 0;
                const ofertasArray = ofertas;
                if ( ofertasLength > 0 ) {
                    this.cursor = ofertasArray[ofertasLength - 1].id;
                }
                if ( !nextCursor ) {
                    this.offers = ofertasArray;
                } else {
                    this.offers = [...( this.offers || [] ), ...ofertasArray];
                }
            }
            this.loading = false;
        } catch ( error ) {
            this.loading = false;
            console.error( error );
        }
    }

    deleteOffer () {
        this.launchData();
    }
}
export default Offers;
</script>
<style lang="scss" scoped>
.content-search {
    justify-content: center;
}
.offer-card-content {
    @include desktop {
        display: flex;
        justify-content: center;
    }

    @include tablet {
        display: flex;
        justify-content: center;
    }
}
.search {
    margin-bottom: 80px;

    @include desktop {
        display: flex;
        margin-bottom: 140px;
        text-align: center;
        justify-content: center;
    }
}
@include desktop {
    .create {
        display: flex;
        position: absolute;
        right: 5%;
        top: 70px;
    }
}

@include tablet {
    .create {
        display: none;
    }
}

@include mobile {
    .create {
        display: none;
    }
}

@include mobile {
    .container-button {
        display: flex;
        right: 8%;
        top: 80%;
        position: fixed;
    }
}

@include tablet {
    .container-button {
        display: flex;
        right: 8%;
        top: 80%;
        position: fixed;
    }
}
@include desktop {
    .container-button {
        display: none;
    }
}
</style>
