<template>
    <div class="container-job-card">
        <thumbnail-card
            avatar-mobile-size="47px"
            avatar-desktop-size="47px"
            :menu-items="menuItems"
            :data="data.solicitante.nombre"
            :label="$offerDate(data.fecha_publicacion)"
            :picture="data.categoria.icon"
            is-category="true"
            @menuClick="menuActionClick"
        />
        <span class="name-job">
            {{ data.categoria.nombre }}
        </span>
        <span class="description-job">
            {{ data.descripcion }}
        </span>
        <div class="phone">
            <v-icon class="icon">
                mdi-phone
            </v-icon>
            <span>
                {{ data.telefono }}
            </span>
        </div>
        <div class="email">
            <v-icon class="icon">
                mdi-email
            </v-icon>
            <span>
                {{ data.correo }}
            </span>
        </div>
        <div v-if="!isAdmin" class="button-offer-card">
            <ripuy-button v-if="data.aplicado" class="button" :title="'Retirar'" color="#979797" @click="deleteApplicationToOffer" />
            <ripuy-button v-else class="button" :title="'Aplicar'" @click="createApplicationToOffer" />
        </div>
        <modal-post-form
            icon="mdi-pencil"
            title="Editar Publicación"
            button-label="Guardar"
            :offer-data="data"
            :show-modal="showModalEditPost"
            @close="closePostModal"
            @update="update"
        />
        <modal-interested-users
            :interested-list="interestedList"
            :show-modal="showModalInterestedList"
            @close="closeInterestedModal"
        />
        <modal-confirm-action
            :show-modal="showModalConfirm"
            :text="confirmText"
            @cancel="() => showModalConfirm = false"
            @accept="confirmAcceptAction"
            @close="closeConfirmModal"
        />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'nuxt-property-decorator';
import { CLIENT, interesados_interesados, ofertas_ofertas } from 'ripuy-request';
import ThumbnailCard from '@/components/commons/ThumbnailCard.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import ModalPostForm from '@/components/posts/ModalPostForm.vue';
import ModalInterestedUsers from '@/components/posts/ModalInterestedUsers.vue';
import ModalConfirmAction from '@/components/commons/ModalConfirmAction.vue';
import { AdminPostMenuAction, OfferMenuItems, UserRole, User } from '@/utils/interfaces';

@Component( {
    components: {
        ThumbnailCard,
        RipuyButton,
        ModalPostForm,
        ModalInterestedUsers,
        ModalConfirmAction
    }
} )
export default class OfferCard extends Vue {
    @Prop( { } ) data: ofertas_ofertas;

    user: User | null = null;
    menuItems: Array<OfferMenuItems> | null= null
    isAdmin: boolean = false;
    showModalEditPost: boolean = false;
    showModalInterestedList: boolean = false;
    showModalConfirm: boolean = false;
    confirmText: string = '';
    confirmAcceptAction: any = () => {};
    interestedList: interesados_interesados | null = null;

    mounted () {
        this.user = this.$store.getters['sessionStorage/getUser'];
        if ( !this.user ) {
            this.$router.push( '/' );
        }
        if ( this.user?.role === UserRole.ADMIN ) {
            this.isAdmin = true;
            this.menuItems = [
                { icon: 'mdi-pencil', title: 'Editar', action: AdminPostMenuAction.UpdatePost },
                { icon: 'mdi-account-group', title: 'Interesados', action: AdminPostMenuAction.InterestedList },
                { icon: 'mdi-delete', title: 'Eliminar', action: AdminPostMenuAction.DeletePost }
            ];
        }
    }

    async createApplicationToOffer () {
        try {
            const { createInteresado } = await this.$apiClient.post.createInteresado(
                { data: { oferta: { id: this.data.id } } },
                { client: CLIENT.CODE }
            );
            if ( createInteresado?.id ) {
                this.$Swal( 'success', 'Se a registrado tu interés por esta oferta de trabajo', 5000 );
            }
            this.data.aplicado = true;
        } catch ( error ) {
            console.error( error.message );
        }
    }

    deleteApplicationToOffer () {
        this.confirmText = '¿Desea retirar su interés de aplicación por esta oferta laboral?';
        this.confirmAcceptAction = this.confirmAcceptDeleteApplication;
        this.showModalConfirm = true;
    }

    async confirmAcceptDeleteApplication () {
        try {
            const { deleteInteresado } = await this.$apiClient.post.deleteInteresado(
                { where: { oferta: { id: this.data.id } } },
                { client: CLIENT.CODE }
            );
            if ( deleteInteresado?.id ) {
                this.$Swal( 'success', 'Se a retirado tu interés por esta oferta de trabajo', 5000 );
            }
            this.data.aplicado = false;
            this.showModalConfirm = false;
        } catch ( error ) {
            console.error( error.message );
        }
    }

    async menuActionClick ( action: string ) {
        try {
            if ( action === AdminPostMenuAction.UpdatePost ) {
                this.showModalEditPost = true;
            } else if ( action === AdminPostMenuAction.InterestedList ) {
                const { interesados } = await this.$apiClient.post.interesados(
                    { where: { oferta: { id: this.data.id } } },
                    { client: CLIENT.CODE }
                );
                this.interestedList = interesados;
                this.showModalInterestedList = true;
            } else if ( AdminPostMenuAction.DeletePost ) {
                this.confirmText = '¿Esta seguro que deseas eliminar está publicación?';
                this.confirmAcceptAction = this.confirmAcceptDeleteOffer;
                this.showModalConfirm = true;
            }
        } catch ( error ) {
            console.error( error.message );
        }
    }

    closePostModal () {
        this.showModalEditPost = !this.showModalEditPost;
    }

    closeInterestedModal () {
        this.showModalInterestedList = !this.showModalInterestedList;
    }

    closeConfirmModal () {
        this.showModalConfirm = !this.showModalConfirm;
    }

    async confirmAcceptDeleteOffer () {
        try {
            const { deleteOferta } = await this.$apiClient.post.deleteOferta(
                { where: { id: this.data.id } },
                { client: CLIENT.CODE }
            );
            this.$emit( 'deleteOffer' );
            if ( deleteOferta ) {
                this.showModalConfirm = false;
            }
        } catch ( error ) {
            console.error( error.message );
        }
    }

    update () {
        this.$emit( 'update' );
    }
}
</script>
<style lang="scss" scoped>
.container-job-card {
    display: flex;
    flex-flow: column;
    padding: 10px 15px;
    width: auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 0px 15px 0 15px;
    @include desktop {
        width: 365px;
        height: 340 !important;
    }
    @include tablet {
        width: 310px;
        height: 340px !important;
    }
}
.name-job {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2em;
}

.description-job {
    font-size: 1em;
}
.phone {
    margin-top: 25px;
    color: #13AA52;
    .icon {
        color: #13AA52;
        margin-right: 5px;
    }
}

.email {
    margin-top: 5px;
    color: #13AA52;
    margin-bottom: 25px;
    .icon {
        color: #13AA52;
        margin-right: 5px;
    }
}

.button-offer-card {

    .button {
        width: 100%;
    }
}
</style>
