<template>
    <div
        class="search"
        :style="{ width: `calc( 100% - 40px )` }"
    >
        <v-text-field
            v-model="filter.text"
            hide-details
            dense
            filled
            color="accent"
            placeholder="Buscar"
            @keyup="handlerSearch()"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop, Model } from 'nuxt-property-decorator';
import debounce from 'lodash/debounce';
import { ofertas_ofertas } from 'ripuy-request';
import { OffersFilters } from '@/utils/interfaces';

@Component( {} )
class SearchOffers extends Vue {
    @Model( 'change', { required: true } ) filter: any;
    @Prop( { } ) offers: any;
    descriptionLimit: number = 60;
    isLoading: boolean = false;
    model: any = null;
    search: any = null;

    emitFilters = debounce( () =>
        this.$emit( 'change', Object.assign( {}, this.filter ) ),
    500 );

    handlerSearch () {
        this.emitFilters();
    }
}
export default SearchOffers;
</script>

<style lang="scss" scoped>
.search {
    background: #13AA52;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    display: flex;
    position: absolute;
    padding: 20px 20px;
    flex-flow: column;
    
    @include mobile {
        left: 20px !important;
    }

    @include desktop {
        width: 50% !important;
        padding: 40px;
    }
    @include tablet {
       left: 20px !important;
    }
}
.input-search {
    background: #ffffff;
    flex: 0 1 auto;
}

.v-input {
    background: #ffffff;
}
</style>
