<template>
    <div>
        <v-navigation-drawer
            v-model="drawer"
            fixed
            right
            temporary
            :color="'white'"
            class="drawer"
        >
            <v-list
                nav
                dense
                class="list"
            >
                <v-list-item-group
                    v-model="drawer"
                    class="list-group"
                    :active-class="'text--accent-4'"
                >
                    <client-only>
                        <header-avatar
                            v-show="user"
                            class="header-avatar"
                            :profile="user"
                            :image="( user && user.image ) ? user.image.url : undefined"
                            :font-color="'#13AA52'"
                            :background="'#13AA52'"
                            :color-description="'#fff'"
                            :color-name="'#fff'"
                            :with-menu-options="false"
                        />
                        <v-divider />
                        <template
                            v-for="(item, index) in menuOptions"
                        >
                            <v-list-item
                                v-if="index !== menuOptions.length - 1"
                                :key="index"
                                class="item"
                                link
                                dense
                                @click="itemClicked(item)"
                            >
                                <v-list-item-icon v-if="item.icon">
                                    <v-icon
                                        :class="{ 'item-icon': true,
                                                  'item-accent': ( item.icon === 'mdi-swap-horizontal-circle' )
                                        }"
                                    >
                                        {{ item.icon }}
                                    </v-icon>
                                </v-list-item-icon>
                                <v-list-item-title
                                    :class="{ 'item-text': true,
                                              'item-accent': ( item.icon === 'mdi-swap-horizontal-circle' )
                                    }"
                                >
                                    {{ item.name }}
                                </v-list-item-title>
                            </v-list-item>
                        </template>
                    </client-only>
                </v-list-item-group>
                <div class="footer-menu">
                    <client-only>
                        <v-list-item
                            class="last-item"
                            link
                            dense
                            @click="itemClicked(menuOptions[menuOptions.length - 1])"
                        >
                            <v-list-item-icon v-if="menuOptions[menuOptions.length - 1].icon">
                                <v-icon class="item-icon">
                                    {{ menuOptions[menuOptions.length - 1].icon }}
                                </v-icon>
                            </v-list-item-icon>
                            <v-list-item-title class="item-text">
                                {{ menuOptions[menuOptions.length - 1].name }}
                            </v-list-item-title>
                        </v-list-item>
                    </client-only>
                    <span class="footer-text">© Copyright 2021 Ripuy</span>
                </div>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
import CssExports from '@/assets/css/palette.scss';
import HeaderAvatar from '@/components/header/desktop/HeaderAvatar.vue';
import { MenuOptions, User } from '@/utils/interfaces';

@Component( {
    components: {
        HeaderAvatar
    }
} )
export default class NavigationDrawer extends Vue {
    palette = CssExports;
    @Prop( {} ) menuOptions: MenuOptions[]
    @Prop( {} ) logoutUrl: string;
    @Prop( {} ) openMenuMobile: boolean;
    drawer: boolean = false;
    user: User | null = null;

    @Watch( 'openMenuMobile' )
    openOrCloseDrawer () {
        this.drawer = this.openMenuMobile;
    }

    @Watch( 'drawer' )
    openOrCloseEmit () {
        this.$emit( 'openOrClose', this.drawer );
    }

    mounted () {
        this.user = this.$store.getters['sessionStorage/getUser'];
    }

    itemClicked ( item: MenuOptions ) {
        if ( item.event ) {
            this.$emit( item.event );
        }
        if ( item.path || item.id ) {
            this.$router.push( { name: item.path || '', hash: item.id || '' } );
        }
        this.drawer = false;
    }
}

</script>

<style lang="scss" scoped>
.drawer {
    z-index: 150;

    @include desktop {
        display: none;
    }

    .list {
        min-height: 100%;
        .list-group {
            margin-bottom: 110px;
            .item {
                padding: 0 50px 0 20px;
            }
            .item-accent {
                color: $secondary!important;
            }
        }
    }
}
.header-logo::v-deep {
    width: 50%;
    z-index: 100;
    padding-top: 15px;
    padding-left: 15px;
    height: 70px;

    .logo-link {
        display: block;
        height: 70%;
        text-decoration: none;

        @include mobile {
            height: 50%;
        }
        @include tablet{
            height: 50%;
        }

        .logo {
            height: 50px;
        }
    }
}
.footer-menu {
    display: flex;
    flex-flow: column;
    padding: 0 50px 0 20px;
    position: absolute;
    bottom: 8px;

    .last-item {
        padding: 0;
    }
}

.footer-text {
    text-decoration: none;
    padding-top:15px;
    font-size: 0.7em;
}

.nav-drawer-squares {
    position: absolute;
    &.top {
        top: 20%;
        left: 10%;
    }
    &.middle {
        top: 40%;
        left: 50%;
    }
    &.bottom {
        top: 70%;
        right: 10%;
    }
}

a {
    text-decoration: none!important;
}

.header-avatar {
    display: flex;
    justify-content: flex-start !important;
    padding: 20px 0;
    border-radius: 3px;
}
</style>
<style lang="scss">
//.theme--light.v-navigation-drawer {
//    background-color: $primary!important;
//}
</style>
