@import 'variables';
@import 'palette'; 
html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.padded {
    padding: 100px;

    &.extra {
    box-sizing: border-box;
        padding: 100px 100px;
        @include mobile {
            padding: 45px 15px;
        }

        @include tablet {
            padding: 45px 15px;
        }
    }

    @include mobile {
        padding: 45px 15px;

    }
    @include tablet {
        padding: 45px 15px;
    }
}


.v-custom-input.v-input > .v-input__control > .v-input__slot {
    border-radius: 6px;
    padding: 18px 12px 4px 12px;
    margin: 2px;
}
.v-custom-input.v-input.vm-chat-msg__input-input > .v-input__control > .v-input__slot {
    border-radius: 6px;
    padding: 0 0 0 0;
    margin: 2px;
}
.v-custom-input.v-input.vm-chat-msg__input-input {
    padding: 0 0 0 0;
    margin: 0;
}
.v-custom-input.v-text-field > .v-input__control > .v-input__slot:before,
.v-custom-input.v-text-field > .v-input__control > .v-input__slot:after,
.v-custom-input.v-textarea > .v-input__control > .v-input__slot:before,
.v-custom-input.v-textarea > .v-input__control > .v-input__slot:after {
    display: none !important;
    width: 0;
}
.v-custom-input.v-text-field > .v-input__control > .v-text-field__details,
.v-custom-input.v-textarea > .v-input__control > .v-text-field__details{
    display: none;
}

.v-custom-input.v-text-field.error--text > .v-input__control > .v-input__slot::v-deep{
    border: 2px solid $textColor !important;
    background-color: $softGray;
}

.v-application .error--text ::v-deep{
    color: $textColor !important;
}

.v-text-field--outlined.v-input--has-state fieldset::v-deep {
    border: 2px solid $textColor !important;
}


.ripuy-popup{
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center !important;
    border-left: solid !important;
    border-left-width: 10px !important;
    font-family: 'Material Design Icons' !important;
    &-success {
        border-color: green !important;
    }
    &-success::after {
        content: '\F05E0' !important;
        color: green !important;
        font-size: 32px !important;
        margin: 0 5px 0 0 !important;;
    }
    &-info {
        border-color: blue !important;
    }
    &-info::after {
        content: '\F02FC' !important;
        color: blue !important;
        font-size: 32px !important;
        margin: 0 5px 0 0 !important;;

    }
    &-error {
        border-color: red !important;

    }
    &-error::after {
        content: '\F0026' !important;
        color: red !important;
        font-size: 32px !important;
        margin: 0 5px 0 0 !important;;

    }
    &-warning {
        border-color: yellow !important;
    }
    &-warning::after {
        content: '\F0028' !important;
        color: yellow !important;
        transform: rotate( 180deg ) !important;
        font-size: 32px !important;
        margin: 0 5px 0 0 !important;;
    }
}

/* swal config */
.swal2-content {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0 1.6em;
    color:#000;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: $primary;
    color: #fff;
    font-size: 1.0625em;
    font-family: 'Open Sans', sans-serif;
}

.v-list--nav {
    padding: 0 !important;
}