$primary: #13AA52;
$secondary: #C7C93A;
$softGray: #F7F7F7;
$textColor: #4A4A4A;
$softGreen: #A2D9B8;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --softGray: #{$softGray};
  --softGreen: #{$softGreen};
  --textColor: #{$textColor};
}

:export {
  primary: $primary;
  secondary: $secondary;
}
