$breakpoint-mobile: 599.98px; //xs
$breakpoint-tablet-start: 600px; //sm
$breakpoint-tablet-end: 959.98px; //sm
$breakpoint-desktop: 960px; //md lg xl

@mixin mobile {
  @media screen and (max-width: $breakpoint-mobile) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet-start) and (max-width: $breakpoint-tablet-end){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}
