<template>
    <div
        class="change-container"
    >
        <title-main class="header" :title="'Cambiar contraseña'" />

        <v-text-field
            v-model="newPassword"
            class="input-login"
            background-color="#F7F7F7"
            solo
            flat
            label="Contraseña Nueva"
            type="password"
        />
        <v-text-field
            v-model="confirmPassword"
            class="input-login"
            background-color="#F7F7F7"
            solo
            flat
            label="Confirmar contraseña"
            type="password"
        />
        <ripuy-button :title="'Cambiar'" @click="$emit( 'changePassword', newPassword, confirmPassword )" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Vue } from 'nuxt-property-decorator';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';

@Component( {
    components: {
        TitleMain,
        RipuyButton
    }
} )
class ChangePassword extends Vue {
    newPassword: string = '';
    confirmPassword: string = '';
}

export default ChangePassword;
</script>

<style lang="scss" scoped>
.change-container {
    display: flex;
    flex-flow: column;
    height: 80px;
}
</style>
