<template>
    <loader v-if="loading" />
    <div
        v-else
        class="login"
        :style="{ width: `calc( 100% - 40px )` }"
    >
        <title-main class="header" :title="'Iniciar sesión'" />

        <v-text-field
            v-model="identification"
            class="input-login"
            background-color="#F7F7F7"
            solo
            flat
            label="Número de identificación"
        />
        <v-text-field
            v-model="password"
            class="input-login"
            background-color="#F7F7F7"
            solo
            flat
            label="Contraseña"
            type="password"
        />
        <ripuy-button :title="'Iniciar sesión'" @click="loadData" />
        <a class="password" @click="close">Recuperar contraseña</a>
        <modal-restore-password
            :show-modal="showModalPassword"
            @close="close"
        />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Vue } from 'nuxt-property-decorator';
import { ResponseLogin } from '@/utils/interfaces';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import ModalRestorePassword from '@/components/login/ModalRestorePassword.vue';
import Loader from '@/components/commons/Loader.vue';

@Component( {
    components: {
        TitleMain,
        RipuyButton,
        ModalRestorePassword,
        Loader
    }
} )
class Login extends Vue {
    identification: string = '';
    password: string = '';
    showModalPassword: boolean = false;
    loading: boolean = false;

    async loadData () {
        this.loading = true;
        const loginResponse: ResponseLogin = await fetch( `${process.env.API_SERVER}/login`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify( {
                response_type: 'code',
                identification: this.identification,
                password: this.password
            } )
        } ).then( ( resp: any ) => resp.json() );
        if ( loginResponse.code === 200 ) {
            window.location.href = `${process.env.API_SERVER}/token?code_grant=${loginResponse.code_grant}&redirect_uri=${process.env.REDIRECT_URI}`;
        }
        if ( loginResponse.code === 500 ) {
            this.loading = false;
            this.$Swal( 'error', 'Ups!, algo fallo intentalo nuevamente', 5000 );
        }
    }

    close () {
        this.showModalPassword = !this.showModalPassword;
    }
}

export default Login;
</script>

<style lang="scss" scoped>
.login {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    display: flex;
    position: absolute;
    padding: 40px 10px;
    flex-flow: column;

    @include mobile {
        left: 20px !important;
    }

    @include desktop {
        width: 50% !important;
        padding: 40px;
    }
}
.header {
    margin-bottom: 10px;
    @include desktop {
        padding-top: 50px;
    }
}

.password {
    color: #000;
    text-decoration: none !important;
    margin-top: 20px;
    cursor: pointer;
}

.input-login {
    flex: 0 1 auto;
}

</style>
