<template>
    <general-modal
        :show="showModal"
        close-icon="true"
        :padding="'10px'"
        @close="$emit( 'close' )"
    >
        <restore-password @restorePassword="restorePasswordAction" />
    </general-modal>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Vue } from 'nuxt-property-decorator';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import RestorePassword from '@/components/login/RestorePassword.vue';

@Component( {
    components: {
        RestorePassword,
        GeneralModal
    }
} )
class ModalRestorePassword extends Vue {
    @Prop( { default: false } ) showModal: boolean;

    async restorePasswordAction ( identification: string ) {
        const loginResponse = await fetch( `${process.env.API_SERVER}/password/email`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify( {
                identification
            } )
        } ).then( ( resp: any ) => resp.json() );
        if ( loginResponse.code === 200 ) {
            this.$Swal( 'info', 'Hemos enviado un correo para restaurar tu contraseña', 5000 );
            this.showModal = false;
        } else {
            this.$Swal( 'error', 'Ups! algo fallo', 5000 );
        }
    }
}

export default ModalRestorePassword;

</script>

<style lang="scss" scoped>
</style>
