<template>
    <div
        class="change-container"
    >
        <title-main class="header" :title="'Recuperar contraseña'" />
        <v-text-field
            v-model="identification"
            class="input-login"
            background-color="#F7F7F7"
            solo
            flat
            label="Número de identificación'"
        />
        <ripuy-button :title="'Enviar'" @click="$emit( 'restorePassword', identification )" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Vue } from 'nuxt-property-decorator';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';

@Component( {
    components: {
        TitleMain,
        RipuyButton
    }
} )
class RestorePassword extends Vue {
    identification: string = '';
}

export default RestorePassword;
</script>

<style lang="scss" scoped>
.change-container {
    display: flex;
    flex-flow: column;
}
.input-login {
    margin-top: 20px;
}
</style>
