<template>
    <div class="container-event">
        <thumbnail-card
            avatar-mobile-size="47px"
            avatar-desktop-size="47px"
            :menu-items="menuItems"
            :data="event.nombre"
            :label="$offerDate(event.fechas)"
            :picture="event.poster"
            @menuClick="menuActionClick"
        />
        <label class="description">{{ event.descripcion }}</label>
        <label><span>Email:</span> {{ event.email }}</label>
        <label><span>Telefono:</span>{{ event.telefono }}</label>
        <label><span>Ir al evento:</span><a :href="event.url"> {{ event.url }}</a></label>
        <modal-event-form
            :show-modal="showEditEvent"
            :event-data="event"
            title="Editar evento"
            icon="mdi-pencil"
            @close="closeEditEvent"
            @update="update"
        />
        <modal-confirm-action
            :show-modal="showModalConfirm"
            text="¿Esta seguro de que desea eliminar este evento?"
            @cancel="() => showModalConfirm = false"
            @accept="confirmAcceptAction"
            @close="closeConfirmModal"
        />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'nuxt-property-decorator';
import { CLIENT, eventos_eventos } from 'ripuy-request';
import ThumbnailCard from '@/components/commons/ThumbnailCard.vue';
import { EventMenuItems, OffersFilters, User, UserRole, AdminEventMenuAction } from '@/utils/interfaces';
import ModalEventForm from '@/components/events/ModalEventForm.vue';
import ModalConfirmAction from '@/components/commons/ModalConfirmAction.vue';

@Component( {
    components: {
        ThumbnailCard,
        ModalEventForm,
        ModalConfirmAction
    }
} )
export default class EventCard extends Vue {
    @Prop( { } ) event: eventos_eventos;
    menuItems: Array<EventMenuItems> | null = null;
    user: User | null = null;
    isAdmin: boolean = false;
    loading: boolean = false;
    filter: OffersFilters = {
        text: ''
    }

    showEditEvent: boolean = false;
    showModalConfirm: boolean = false;
    mounted () {
        this.user = this.$store.getters['sessionStorage/getUser'];
        if ( !this.user ) {
            this.$router.push( '/' );
        }
        if ( this.user?.role === UserRole.ADMIN ) {
            this.isAdmin = true;
            this.menuItems = [
                { icon: 'mdi-pencil', title: 'Editar', action: AdminEventMenuAction.UpdatePost },
                { icon: 'mdi-delete', title: 'Eliminar', action: AdminEventMenuAction.DeletePost }
            ];
        }
    }

    menuActionClick ( action: string ) {
        try {
            if ( action === AdminEventMenuAction.UpdatePost ) {
                this.showEditEvent = true;
            } else if ( AdminEventMenuAction.DeletePost ) {
                this.showModalConfirm = true;
            }
        } catch ( error ) {
            console.error( error.message );
        }
    }

    async confirmAcceptAction () {
        try {
            const { deleteEvento } = await this.$apiClient.post.deleteEvento(
                { where: { id: this.event.id } },
                { client: CLIENT.CODE }
            );
            this.$Swal( 'success', 'Su Evento se ha Eliminado exitosamente', 5000 );
            this.$emit( 'deleteEvent' );
            if ( deleteEvento ) {
                this.showModalConfirm = false;
            }
        } catch ( error ) {
            console.error( error.message );
        }
    }

    closeConfirmModal () {
        this.showModalConfirm = !this.showModalConfirm;
    }

    closeEditEvent () {
        this.showEditEvent = false;
    }

    update () {
        this.$emit( 'update' );
    }
}
</script>
<style lang="scss" scoped>
.container-event {
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 20px 10px;
    .description {
        margin-bottom: 10px;
    }

    @include desktop {
        height: 200px;
    }
}
span {
    font-weight: bold;
}
</style>
