<template>
    <general-modal
        :show="showModal"
        :max-width="$vuetify.breakpoint.smAndDown ? 300 : 650"
        close-icon="true"
        :padding="'10px'"
        @close="$emit( 'close' )"
    >
        <div class="header">
            <v-icon>{{ icon }}</v-icon> <title-main :title="title" />
        </div>
        <v-form ref="form" lazy-validation>
            <v-text-field
                v-model="eventData.nombre"
                label="Nombre"
                outlined
                dense
                required
                :rules="nombresRules"
            />
            <v-textarea
                v-model="eventData.descripcion"
                label="Descripción"
                outlined
                dense
                required
                :rules="descripcionRules"
            />
            <v-text-field
                v-model="eventData.telefono"
                name="eventData.telefono"
                outlined
                dense
                label="Teléfono"
                required
                :rules="telefonoRules"
            />
            <v-text-field
                v-model="eventData.email"
                name="eventData.correo"
                outlined
                dense
                label="Correo Electrónico"
                required
                :rules="correoRules"
            />
            <v-text-field
                v-model="eventData.url"
                outlined
                dense
                label="URL del evento"
                required
                :rules="urlRules"
            />
            <v-text-field
                v-model="eventData.poster"
                outlined
                dense
                label="URL de la imagen del evento"
            />
            <v-text-field
                v-model="eventData.fechas"
                label="Fechas"
                outlined
                dense
                type="date"
                required
                :rules="fechaRules"
            />
            <div class="container-button">
                <ripuy-button class="button-save" title="Guardar" padding-button="10px" @click="click" />
            </div>
        </v-form>
    </general-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'nuxt-property-decorator';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import TitleMain from '@/components/commons/TitleMain.vue';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import GeneralSelect from '@/components/commons/GeneralSelect.vue';
import { eventos_eventos, CLIENT } from 'ripuy-request';

@Component( {
    components: {
        GeneralModal,
        TitleMain,
        RipuyButton,
        GeneralSelect
    }
} )
class ModalEventForm extends Vue {
    @Prop( { default: false } ) showModal: boolean;
    @Prop( {} ) eventData: eventos_eventos;
    @Prop( {} ) title: string;
    @Prop( {} ) icon: string;

    nombresRules: any[] = [
        ( v: any ) => !!v || 'El nombre es obligatorio'
    ];

    descripcionRules: any[] = [
        ( v: any ) => !!v || 'La descripción es obligatoria'
    ];

    telefonoRules: any[] = [
        ( v: any ) => !!v || 'El télefono es obligatorio'
    ];

    correoRules: any[] = [
        ( v: any ) => !!v || 'El correo es obligatorio'
    ];

    urlRules: any[] = [
        ( v: any ) => !!v || 'El link es obligatorio'
    ];

    fechaRules: any[] = [
        ( v: any ) => !!v || 'La fecha es obligatoria'
    ];

    click () {
        this.eventData?.id ? this.updateEvent() : this.createEvent();
    }

    async updateEvent () {
        try {
            if ( this.eventData ) {
                await this.$apiClient.post.updateEvento(
                    {
                        where: { id: this.eventData.id },
                        data: {
                            nombre: this.eventData.nombre,
                            poster: this.eventData.poster,
                            descripcion: this.eventData.descripcion,
                            telefono: this.eventData.telefono,
                            email: this.eventData.email,
                            url: this.eventData.url
                        }
                    },
                    { client: CLIENT.CODE }
                );
                this.$Swal( 'success', 'Su Evento se ha modificado exitosamente', 5000 );
                this.$emit( 'close' );
            }
        } catch ( error ) {
            this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
            console.error( error.message );
        }
    }

    async createEvent () {
        try {
            const isValid = ( this.$refs.form as Vue & { validate: () => boolean } ).validate();
            if ( this.eventData && isValid ) {
                await this.$apiClient.post.createEvento( {
                    data: {
                        nombre: this.eventData.nombre,
                        poster: this.eventData.poster,
                        descripcion: this.eventData.descripcion,
                        telefono: this.eventData.telefono,
                        email: this.eventData.email,
                        url: this.eventData.url
                    }
                }, { client: CLIENT.CODE } );
                this.$emit( 'update' );
                this.$Swal( 'success', 'Su Evento se ha creado exitosamente', 5000 );
                this.$emit( 'close' );
            }
        } catch ( error ) {
            this.$Swal( 'error', 'Ups! algo ha ocurrido, intentalo de nuevo!', 5000 );
            console.error( error.message );
        }
    }
}
export default ModalEventForm;
</script>

<style lang="scss" scoped>
.header {
    text-align: center;
    margin-bottom: 5px;
}
.container-button {
    display: flex;
    @include desktop {
        justify-content: end;
    }

    .button-save {
        display: flex;
        @include mobile {
            width: 100%;
        }
    }
}
</style>
