<template>
    <v-avatar
        class="avatar"
        :style="{ backgroundColor: backGroundColor }"
        :size="$vuetify.breakpoint.smAndDown ? avatarMobileSize : avatarDesktopSize"
    >
        <div v-if="isCategory" v-html="picture" />
        <img v-else :src="picture" alt="">
    </v-avatar>
</template>

<script lang="ts">
import { Component, Vue, Prop, Model } from 'nuxt-property-decorator';

@Component( {} )
export default class Avatar extends Vue {
    @Prop( { default: '97px' } ) avatarMobileSize: string;
    @Prop( { default: '150' } ) avatarDesktopSize: string;
    @Prop( {} ) isCategory: boolean;
    @Prop( {} ) picture: any;
    @Prop( { default: '#ffffff' } ) backGroundColor: string;
}
</script>
<style lang="scss" scoped>
.avatar {
    background-position: center;
    background-size: 100%;
}
</style>
