<template>
    <div class="mobile-title-container">
        <v-icon
            class="back-arrow"
            @click="goBack"
        >
            mdi-chevron-left
        </v-icon>
        <h3
            v-if="pageTitle"
            :style="{ color: '#4A4A4A' }"
        >
            {{ pageTitle }}
        </h3>
        <template v-else>
            <slot name="logo" />
        </template>
    </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'nuxt-property-decorator';
import Palette from '@/assets/css/palette.scss';

@Component( {} )
export default class BackArrow extends Vue {
    @Prop()pageTitle:string
    palette = Palette


    goBack () {
        this.$router.go( -1 );
    }
}
</script>

<style scoped lang="scss">
.mobile-title-container{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
    line-height: 1.1em;
    letter-spacing: -0.002em;
    font-weight: 600;
    cursor: pointer;
    .back-arrow {
        margin-left: -5px;
        margin-right: 15px;
    }
}
</style>
