<template>
    <div class="round">
        <input 
            type="checkbox" 
            :id="checkId" 
            v-model="accept"
            :value="text"
        />
        <label :for="checkId"></label>
        <span class="text-xs-left">{{text}}</span>
    </div>
</template>
<script>
    export default {
        name:'RipuyCheckBox',
        props:{
            checkId: String,
            text: String
        }
    }
    
</script>
<style lang="css">
.round {
        position: relative;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 28px;
    }

    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 7px;
        opacity: 0;
        position: absolute;
        top: 8px;
        transform: rotate(-45deg);
        width: 12px;
    }

    .round input[type="checkbox"] {
        visibility: hidden;
        font-size: 2rem;
    }

    .round input[type="checkbox"]:checked + label {
        background-color: #66bb6a;
        border-color: #66bb6a;
    }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
</style>
