<template>
    <div class="container-circle-button" :style="circleStyle" @click="clickHandler">
        <v-progress-circular v-if="loading" size="40" :color="iconColor" width="2" indeterminate />
        <v-icon v-else class="icon" :size="fixedSize ? iconSize : size" :style="iconStyle" v-text="icon" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component( {} )
export default class CircleButton extends Vue {
    @Prop( { required: true } ) icon: string;
    @Prop( { default: '40px' } ) size: string;
    @Prop( { default: '20px' } ) iconSize: string;
    @Prop( { default: false } ) fixedSize: boolean;
    @Prop( { default: '#FFFFFF' } ) iconColor: string;
    @Prop( { default: '#13AA52' } ) backgroundColor: string;
    @Prop( { default: false } ) loading: boolean;

    circleStyle: Record<string, unknown> = {};
    iconStyle: Record<string, unknown> = {};

    beforeMount () {
        this.circleStyle = {
            '--height': this.size,
            '--width': this.size,
            '--background-color': this.backgroundColor
        };

        this.iconStyle = {
            '--color': this.iconColor
        };
    }

    clickHandler () {
        if ( !this.loading ) { this.$emit( 'click' ); }
    }
}
</script>

<style lang="scss" scoped>
.container-circle-button{
    height: calc( var(--height) + 25px );
    width: calc( var(--width) + 25px );
    background-color: var(--background-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .icon{
        color: var(--color);
    }
}
</style>
