<template>
    <div
        class="content-container"
        :style="{
            backgroundAttachment: parallax ? 'fixed' : 'initial',
            backgroundImage: `url(${backgroundImage})`
        }"
    >
        <slot />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component( { } )
class Container extends Vue {
    @Prop( { type: String, default: 'none' } ) backgroundImage: string;
    @Prop( { type: Boolean, default: false } ) parallax: string;
}

export default Container;
</script>

<style lang="scss" scoped>
.content-container {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
</style>
