<template>
    <client-only>
      <vue-html2pdf
        :show-layout="true"
        :float-layout="false"
        :enable-download="true"
        :preview-modal="true"
        :paginate-elements-by-height="1400"
        filename="cv"
        :pdf-quality="2"
        :manual-pagination="false"
        pdf-format="a4"
        pdf-orientation="landscape"
        pdf-content-width="800px"

        @progress="onProgress($event)"
        @hasStartedGeneration="hasStartedGeneration()"
        @hasGenerated="hasGenerated($event)"
        ref="html2Pdf"
      >
        <section slot="pdf-content">
           <div v-if="user" class="cv-index">
        <div class="wrapper mt-lg-5">
            <div class="sidebar-wrapper">
                <div class="profile-container">
                    <img class="profile" src="assets/images/profile.png" alt="" />
                    <h1 class="name">{{ user.nombres}} {{user.apellidos}}</h1>
                    <h3 v-if="working" class="tagline">{{ working.role }}</h3>
                </div>
                <div class="contact-container container-block">
                    <ul class="list-unstyled contact-list">
                        <li class="email"><i class="fas fa-envelope"></i><a href="#">{{ user.correo }}</a></li>
                        <li class="phone"><i class="fas fa-phone"></i><a href="#">{{ user.celular }}</a></li>
                        <!-- <li class="website"><i class="fas fa-globe"></i><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/" target="_blank">portfoliosite.com</a></li>
                        <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="#" target="_blank">linkedin.com/in/alandoe</a></li>
                        <li class="github"><i class="fab fa-github"></i><a href="#" target="_blank">github.com/username</a></li>
                        <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li> -->
                    </ul>
                </div><!--//contact-container-->
                <div class="education-container container-block">
                    <h2 class="container-block-title">Education</h2>
                    <div class="item">
                        <h4 class="degree">Bachillerato</h4>
                        <h5 v-if="academic && academic.colegio" class="meta">{{ academic.colegio.nombre }}</h5>
                        <!-- <div class="time">2016 - 2018</div> -->
                    </div>
                    <div class="item">
                        <h4 class="degree">Ingeniero de sistemas</h4>
                        <h5 class="meta">Universidad de Nariño</h5>
                        <div class="time">{{ fechaInicio }}-{{ fechaGrado }}</div>
                    </div>
                </div><!--//education-container-->
                <!-- <div class="languages-container container-block">
                    <h2 class="container-block-title">Languages</h2>
                    <ul class="list-unstyled interests-list">
                        <li>English <span class="lang-desc">(Native)</span></li>
                        <li>French <span class="lang-desc">(Professional)</span></li>
                        <li>Spanish <span class="lang-desc">(Professional)</span></li>
                    </ul>
                </div>

                <div class="interests-container container-block">
                    <h2 class="container-block-title">Interests</h2>
                    <ul class="list-unstyled interests-list">
                        <li>Climbing</li>
                        <li>Snowboarding</li>
                        <li>Cooking</li>
                    </ul>
                </div> -->
            </div><!--//sidebar-wrapper-->
            <div  v-if="noWorking" class="main-wrapper">
                <section class="section summary-section">
                    <h2 class="section-title" v-if="noWorking.actividad_actual"><span class="icon-holder"><i class="fas fa-user"></i>
                      </span>Actividad actual
                    </h2>
                    <div class="summary">
                        <p>{{ noWorking.actividad_actual ? noWorking.actividad_actual.descripcion : '' }}.</p>
                    </div><!--//summary-->
                </section><!--//section-->
                <section class="section experiences-section">
                    <h2 v-if="working" class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiencia</h2>

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 v-if="working && working.role" class="job-title">{{ working.role }}</h3>
                                <div v-if="working" class="time">Presente</div>
                            </div><!--//upper-row-->
                            <div v-if="working.empresa && working.municipio" class="company">{{ working.empresa.nombre }}, {{ working.municipio.nombre }}</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p v-if="working && working.ocupacion">{{ working.ocupacion }}</p>
                        </div><!--//details-->
                    </div>
                    <!-- <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Senior Software Engineer</h3>
                                <div class="time">2018 - 2019</div>
                            </div>
                            <div class="company">Google, London</div>
                        </div>
                        <div class="details">
                            <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        </div>
                    </div> -->
                </section><!--//section-->
                <!-- <section class="section projects-section">
                    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
                    <div class="intro">
                        <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                    </div>
                    <div class="item">
                        <span class="project-title"><a href="" target="_blank">CoderPro</a></span> - <span class="project-tagline">A responsive website template designed to help developers launch their software projects. </span>
                    </div>
                    <div class="item">
                        <span class="project-title"><a href="" target="_blank">Launch</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services.</span>
                    </div>
                    <div class="item">
                        <span class="project-title"><a href="" target="_blank">DevCard</a></span> - <span class="project-tagline">A portfolio website template designed for software developers.</span>
                    </div>
                    <div class="item">
                        <span class="project-title"><a href="" target="_blank">Nova Pro</a></span> - <span class="project-tagline">A responsive Bootstrap theme designed to help app developers promote their mobile apps</span>
                    </div>
                    <div class="item">
                        <span class="project-title"><a href="" target="_blank">DevStudio</a></span> - 
                        <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                    </div>
                </section>
                <section class="skills-section section">
                    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
                    <div class="skillset">        
                        <div class="item">
                            <h3 class="level-title">Python &amp; Django</h3>
                            <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                               
                        </div>
                        <div class="item">
                            <h3 class="level-title">Javascript</h3>
                            <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                              
                        </div>
                        <div class="item">
                            <h3 class="level-title">React &amp; Angular</h3>
                            <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                                 
                        </div>
                        <div class="item">
                            <h3 class="level-title">HTML5 &amp; CSS</h3>
                            <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                                
                        </div>
                        <div class="item">
                            <h3 class="level-title">Ruby on Rails</h3>
                            <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                                  
                        </div>
                        <div class="item">
                            <h3 class="level-title">Sketch &amp; Photoshop</h3>
                            <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>                                 
                        </div>
                    </div>
                </section> -->
            </div>
            <div class="content-button">
              <ripuy-button 
                  class="button-export" 
                  :title="'Exportar en pdf'" 
                  padding-button="10px"
                  icon-left="mdi-book-open-outline"
                  color="#f5f5f5"
                  colorText="#545E6C"
                  @click="exportarPDF" 
              />
            </div>
        </div>    
    </div>
        </section>
      </vue-html2pdf>
    </client-only>
</template>

<script lang="ts">
// @ts-ignore

import { Component, Vue, Prop } from 'nuxt-property-decorator';
import RipuyButton from '@/components/commons/RipuyButton.vue';

@Component( {
    components: {
      RipuyButton,
    }
} )

export default class CvComponent extends Vue {
    @Prop( {} ) user: any;
    @Prop( {} ) academic: any;
    @Prop( {} ) working: any;
    @Prop( {} ) noWorking: any;

    get fechaInicio () {
        return this.academic?.fecha_inicio_programa?.slice( 0, -6 );
    }

    get fechaGrado () {
        return this.academic?.fecha_grado?.slice( 0, -6 );
    }

    exportarPDF () {
      console.log( 'export' )
      // @ts-ignore
      this.$refs?.html2Pdf?.generatePdf()
      // this.$refs.html2pdf.generatePdf()
    }
}
</script>

<style lang="css" scoped>
.cv-index {
    font-family: "Roboto", sans-serif !important;
    color: #545E6C;
    background: #f5f5f5;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 30px;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: #2d7788;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #1a454f;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:focus {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.wrapper {
  background: #42A8C0;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  height: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
  background: #42A8C0;
  position: absolute;
  right: 0;
  width: 240px;
  height: 100%;
  min-height: 800px;
  color: #fff;
}
.sidebar-wrapper a {
  color: #fff;
}
.sidebar-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
}
.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar-wrapper .profile {
  margin-bottom: 15px;
}
.sidebar-wrapper .contact-list .svg-inline--fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.sidebar-wrapper .contact-list li {
  margin-bottom: 15px;
}
.sidebar-wrapper .contact-list li i{
  margin-right: 5px;
}

.sidebar-wrapper .contact-list li:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .contact-list .email .svg-inline--fa {
  font-size: 14px;
}
.sidebar-wrapper .container-block {
  padding: 25px;
}
.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.sidebar-wrapper .degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
.sidebar-wrapper .education-container .item {
  margin-bottom: 15px;
}
.sidebar-wrapper .education-container .item:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .education-container .meta {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 14px;
}
.sidebar-wrapper .education-container .time {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  margin-bottom: 0px;
}
.sidebar-wrapper .languages-container .lang-desc {
  color: rgba(255, 255, 255, 0.6);
}
.sidebar-wrapper .languages-list {
  margin-bottom: 0;
}
.sidebar-wrapper .languages-list li {
  margin-bottom: 10px;
}
.sidebar-wrapper .languages-list li:last-child {
  margin-bottom: 0;
}
.sidebar-wrapper .interests-list {
  margin-bottom: 0;
}
.sidebar-wrapper .interests-list li {
  margin-bottom: 10px;
}
.sidebar-wrapper .interests-list li:last-child {
  margin-bottom: 0;
}

.main-wrapper {
  background: #fff;
  padding: 60px;
  padding-right: 300px;
}
.main-wrapper .section-title {
    display: flex;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #2d7788;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}
.main-wrapper .section-title .icon-holder {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    color: #fff;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2d7788;
    text-align: center;
    font-size: 16px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main-wrapper .section-title .icon-holder .svg-inline--fa {
  font-size: 14px;
  margin-top: 6px;
}
.main-wrapper .section {
  margin-bottom: 60px;
}
.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}
.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.main-wrapper .job-title {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}
.main-wrapper .company {
  margin-bottom: 10px;
  color: #97AAC3;
}
.main-wrapper .project-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}
.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}
.main-wrapper .projects-section .item {
  margin-bottom: 15px;
}

.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}
.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.skillset .theme-progress-bar {
  background: #68bacd;
}

.footer {
  padding: 30px;
  padding-top: 60px;
}
.footer .copyright {
  line-height: 1.6;
  color: #545E6C;
  font-size: 13px;
}
.footer .fa-heart {
  color: #fb866a;
}

@media (max-width: 767.98px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .main-wrapper {
    padding: 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }
}

.content-button {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
</style>