<template>
    <v-dialog
        v-model="show"
        :max-width="maxWidth"
        :persistent="persistence"
        @click:outside="$emit( 'close' )"
        @close="$emit( 'close' )"
    >
        <v-card>
            <div v-if="closeIcon" class="header-container">
                <v-card-text class="button">
                    <div class="close-button" @click="$emit('close')">
                        <v-icon class="icon">
                            mdi-close
                        </v-icon>
                    </div>
                </v-card-text>
            </div>
            <div :style="{ padding: padding }">
                <slot name="header" />
                <slot />
                <slot name="footer" />
            </div>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

@Component( {} )
class GeneralModal extends Vue {
    @Prop( { default: false, type: Boolean } ) show: boolean;
    @Prop( { default: '650px' } ) maxWidth: string;
    @Prop( { default: false } ) closeIcon: boolean;
    @Prop( { default: false } ) persistence: boolean = false;
    @Prop( { default: '0' } ) padding: string;
}

export default GeneralModal;
</script>

<style lang="scss" scoped>
.header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button {
    width: auto;
}
.close-button {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.icon {
    font-size: 1.3em !important;
    font-weight: bold;
    color: #000;
    margin:0px !important;
}
</style>
