<template>
    <v-select
        v-model="selectedModel"
        :value="selected"
        background-color="#fff"
        color="#13AA52"
        item-color="#13AA52"
        :items="items"
        :label="label"
        :placeholder="placeholder"
        :no-data-text="noData"
        :loading="loading"
        :item-text="itemText"
        :item-value="itemValue"
        :multiple="multiple"
        :rules="rules"
        :disabled="disabled"
        dense
        persistent-hint
        outlined
        append-icon="mdi-unfold-more-horizontal"
        :return-object="returnObjet"
    >
        <template v-slot:prepend-item>
            <v-list-item
                disabled
                dense
            >
                {{ placeholder }}
            </v-list-item>
        </template>
        <template v-slot:append-item>
            <slot name="append-item" />
        </template>
    </v-select>
</template>

<script lang="ts">
import { Vue, Component, Prop, Model, Watch, Emit } from 'nuxt-property-decorator';

@Component( {} )
export default class GeneralSelect extends Vue {
    @Model( 'updateValue', { required: false } ) model: any;
    @Prop( { required: true } ) items: any;
    @Prop( { default: 'id' } ) itemValue: string;
    @Prop( { default: 'name' } ) itemText: string;
    @Prop( {} ) label: string;
    @Prop( { default: false } ) loading:boolean;
    @Prop( { default: false } ) multiple: boolean;
    @Prop( { default: 'No data Text...' } ) noData: string;
    @Prop( {} ) placeholder: string;
    @Prop( { default: true } ) returnObjet: boolean;
    @Prop( {} ) rules: any;
    @Prop( { required: false } ) selected: any;
    @Prop( { default: false } ) disabled: boolean;
    selectedModel: any = null;

    created () {
        this.selectedModel = this.selected;
    }

    // @Watch( 'selectedModel' )
    // @Emit( 'updateValue' )
    // updateValue () {
    //     return this.selectedModel;
    // }
}
</script>
