<template>
    <div
        :class="{ 'header': true, 'main-header': true }"
    >
        <v-app-bar
            class="header-content"
            color="white"
            height="56px"
            flat
        >
            <div v-if="withOptionLeft && !$vuetify.breakpoint.mdAndUp" class="header">
                <back-arrow
                    :page-title="pageTitle"
                >
                    <nuxt-link slot="logo" class="logo-link" to="/">
                        <img class="logo" src="@/assets/img/ripuy.png" alt="">
                    </nuxt-link>
                </back-arrow>
            </div>
            <div v-else class="header">
                <div class="wrapper">
                    <nuxt-link class="logo-link" to="/">
                        <img class="logo" src="@/assets/img/ripuy.png" alt="">
                    </nuxt-link>
                </div>
            </div>
            <v-spacer />
            <v-tabs
                v-if="$vuetify.breakpoint.mdAndUp"
                color="#13AA52"
                height="56px"
                right
            >
                <v-tab
                    v-for="(item,index) of menuOptions.filter(item => item.tab)"
                    :key="index"
                    :to="item.id ? `/${item.id}`: item.path"
                    link
                    nuxt
                    @click="itemClicked(item)"
                >
                    {{ item.name }}
                </v-tab>
            </v-tabs>
            <v-app-bar-nav-icon
                v-if="!$vuetify.breakpoint.mdAndUp"
                color="#000"
                class="hide-on-desktop"
                @click="setMenuState(true)"
            />
            <v-divider
                v-if="authenticated && $vuetify.breakpoint.mdAndUp"
                vertical
                inset
                class="ml-2 mr-3"
            />
            <client-only>
                <header-avatar
                    v-show="$vuetify.breakpoint.mdAndUp"
                    ref="avatarMenuOptions"
                    :menu="menu"
                    :profile="authenticated"
                    :image="( authenticated && authenticated.image ) ? authenticated.image.url : undefined"
                    :items="menuOptions.filter(item => !item.tab)"
                    :font-color="'#000'"
                    :color-description="'#000'"
                    :color-name="'#4a4a4a'"
                    :background="'white'"
                    @openCloseMenu="openCloseMenu"
                    @closeMenu="closeMenu"
                    @logout="$emit( 'logout' )"
                    @postClick="$emit( 'postClick' )"
                    @menuState="avatarMenuState"
                />
            </client-only>
        </v-app-bar>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Emit, Vue } from 'nuxt-property-decorator';
import CssExports from '@/assets/css/palette.scss';
import HeaderAvatar from '@/components/header/desktop/HeaderAvatar.vue';
import BackArrow from '@/components/commons/BackArrow.vue';
import { MenuOptions } from '@/utils/interfaces';


@Component( {
    components: {
        HeaderAvatar,
        BackArrow
    }
} )
class Header extends Vue {
    @Model( 'change' ) openMenuMobile: boolean;
    @Prop( { } ) menuOptions: MenuOptions[];
    @Prop( { default: false } ) whiteAccent: boolean;
    @Prop( { default: false } ) withOptionLeft: boolean;
    @Prop( { default: false } ) loadingNotifications: boolean;
    @Prop( { default: 0 } ) counterNotifications: number;
    @Prop( { default: false } ) menu: boolean
    // menu: boolean = false

    // openCloseMenu () {
    //     this.menu = !this.menu;
    // }

    // closeMenu () {
    //     if ( this.menu ) {
    //         this.menu = false;
    //     }
    // }

    openCloseMenu () {
        this.$emit( 'openCloseMenu' );
    }

    closeMenu () {
        this.$emit( 'closeMenu' );
    }

    @Watch( 'menu' )
    emitMenuState () {
        this.$emit( 'menuState', this.menu );
    }

    showNotificationsDropdown: boolean = false;

    style = CssExports;
    hiddenOpenMenuMobile: boolean = false;
    primary: string = '#fff';
    backgroundMenu: string = '#fff';
    scroll: boolean = false;
    fillHeader:boolean = false;


    mounted () {
        this.addListeners();
    }

    addListeners ( ) {
        const ref: any = this.$refs.avatarMenuOptions;
        this.menuOptions.filter( ( item: MenuOptions ) => item.event ).forEach( ( item: MenuOptions ) => {
            if ( ref ) {
                ref.$on( item.event, () => {
                    this.$emit( item.event || '' );
                } );
            }
        } );
    }

    get pageTitle () {
        // TODO Add page title for each route
        if ( this.$route.path === '/personal-information' ) {
            return 'Volver';
        } else if ( this.$route.path === '/working-information' ) {
            return 'Volver';
        } else if ( this.$route.path === '/settings' ) {
            return 'Volver';
        }
        else {
            return '';
        }
    }

    itemClicked ( item: MenuOptions ) {
        if ( item.event ) {
            this.$emit( item.event );
        }
        if ( item.path || item.id ) {
            this.$router.push( { name: item.path || '', hash: item.id || '' } );
        }
        this.setMenuState( false );
    }

    get authenticated () {
        return this.$store.state.sessionStorage.currentUser;
    }

    @Watch( 'withOptionLeft' )
    onWithOptionLeftChange ( value: boolean ) {
        this.withOptionLeft = value;
    }

    @Watch( 'openMenuModal' )
    onOpenMenuModalChange ( value: boolean ) {
        this.hiddenOpenMenuMobile = value;
    }

    setMenuState ( state: boolean ) {
        this.hiddenOpenMenuMobile = state;
        this.$emit( 'change', this.hiddenOpenMenuMobile );
    }

    avatarMenuState ( state: boolean ) {
        this.fillHeader = state;
    }
}

export default Header;
</script>

<style lang="scss" scoped>
.hide-on-mobile {
    @include mobile {
        display: none !important;
    }
    @include tablet{
        display: none !important;
    }
}

.hide-on-desktop {
    color: #000;
    @include desktop{
        display: none;
    }
}

.main-header {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    position: fixed;
    top: 0;
    max-width: 100vw;

    @include mobile {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
        height: auto !important;
        background-color: transparent;
    }

    @include tablet {
        box-shadow: none;
        height: auto !important;
        background-color: transparent;
    }
}

.icon {
    font-size: 1.5rem;
}

.header::v-deep {
    width: 100%;
    z-index: 100;

    .link:hover {
        text-decoration: none !important;
    }

    .logo-link {
        display: block;
        height: 70%;
        text-decoration: none;

        @include mobile {
            height: 50%;
        }
        @include tablet{
            height: 50%;
        }

        .logo {
            height: 70px;
            @include mobile {
                height: 50px;
            }
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1366px;
        margin: auto;
        height: 100%;
        padding: 0 15px;

        @include mobile {
            padding: 0px;
        }
        .nav-desktop {
            max-height: 90%;
        }

        .options-wrapper {
            display: flex;

            .logout {
                width: 130px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.9em;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }

    .nav-mobile {
        display: none;
        position: fixed;

        @include mobile {
            display: block;
        }
        @include tablet {
            display: block;
            width: 40% !important;
        }
    }
}
</style>
