<template>
    <div class="loader-container">
        <v-progress-circular
            class="default-loader-container"
            :size="100"
            :width="7"
            indeterminate
        >
            {{ loadingLabel }}
        </v-progress-circular>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

@Component( {} )
export default class Loader extends Vue {
    @Prop( { default: 'Cargando...' } )loadingLabel:string
}
</script>

<style lang="scss" scoped >
.default-loader-container {
    color: #13AA52;
}

.loader-container {
    display: flex;
    width: 1366px;
    background-color: rgba(255, 255, 255, 0.87);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    @include mobile {
        width: auto;
    }

    @include tablet {
        width: auto;
    }
}

</style>