<template>
    <general-modal
        :show="showModal"
        close-icon="true"
        :padding="'10px'"
        @close="$emit( 'close' )"
    >
        <v-row>
            <v-col 
                cols="12"
                sm="6"
                md="4"
                class="px-5 py-2"
            >
                <span>{{ text }}</span>
            </v-col>
        </v-row>
        <v-row>
            <v-col
                cols="6"
                class="px-5 py-2"
            >
                <ripuy-button :title="cancelLabel" @click="$emit('cancel')" />
            </v-col>
            <v-col
                cols="6"
                class="px-2 py-2 button-accept" 
            >
                <ripuy-button :title="acceptLabel" @click="$emit('accept')" />
            </v-col>
        </v-row>
    </general-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import GeneralModal from '@/components/commons/GeneralModal.vue';
import TitleMain from '@/components/commons/TitleMain.vue';

@Component( {
    components: {
        RipuyButton,
        GeneralModal,
        TitleMain
    }
} )
class ModalConfirmAction extends Vue {
    @Prop( { default: false } ) showModal: boolean;
    @Prop( {} ) text: string;
    @Prop( { default: 'Cancelar' } ) cancelLabel: string;
    @Prop( { default: 'Aceptar' } ) acceptLabel: string;
}
export default ModalConfirmAction;
</script>

<style>
.button-accept {
    margin-bottom: 30px;
}
</style>
