<template>
    <v-btn
        :color="color"
        class="button-content"
        :style="{color: colorText, justifyContent: justify, padding: paddingButton}"
        :disabled="disabled"
        @click="$emit( 'click' )"
    >
        <v-icon v-if="iconLeft" class="icon">
            {{ iconLeft }}
        </v-icon>
        {{ title }}
        <v-icon v-if="iconRight" class="icon">
            {{ iconRight }}
        </v-icon>
    </v-btn>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Vue } from 'nuxt-property-decorator';
import CssExports from '~/assets/css/palette.scss';

@Component( {
    components: {
    }
} )
class RipuyButton extends Vue {
    @Prop( { default: '#13AA52' } ) color: string;
    @Prop( { default: '#fff' } ) colorText: string;
    @Prop( { default: 'center' } ) justify: string;
    @Prop() iconLeft: string;
    @Prop() iconRight: string;
    @Prop( { default: '0px' } ) paddingButton: string;
    @Prop() title: string;
    @Prop( { default: false } ) disabled: boolean;
    palette = CssExports;
}

export default RipuyButton;
</script>

<style lang="scss" scoped>
.button-content {
    height: 58px;
    text-transform: capitalize;
    font-weight: 600;
    min-width: 120px !important;
}
.icon {
    color: $primary !important;
}
</style>
