<template>
    <client-only>
        <vue-scroll
            ref="scroll"
            :ops="ops"
            @handle-scroll="HandleScroll"
        >
            <slot name="content" />
        </vue-scroll>
    </client-only>
</template>
<script lang="ts">
import { Component, Vue, Prop, Emit } from 'nuxt-property-decorator';

@Component( { } )
export default class ScrollContainer extends Vue {
    @Prop( { default: false } ) hasInfiniteScroll: boolean;
    @Prop( { default: 200 } ) pixelsFromBottom: number;

    lastScrollPosition: number = 0;

    ops: any = {
        scrollPanel: {
            scrollingX: false
        },
        bar: {
            opacity: 1,
            keepShow: true,
            background: '#35C3D0'
        }
    }

    scrollRef: any;

    mounted () {
        this.$nextTick( () => {
            this.scrollRef = this.$refs.scroll as any;
        } );
    }

    onScroll ( scrollHeight: number, scrollPos: number, pixelsFromBottom: number ) {
        if ( ( scrollHeight - scrollPos ) <= pixelsFromBottom ) {
            this.askingData();
        }
    }

    // TODO: remove emit when replace functions for askingData and replace with emitAskingData
    @Emit( 'handle-scroll' )
    HandleScroll ( value: any ) {
        if ( this.hasInfiniteScroll && this.lastScrollPosition < value.scrollTop ) { this.emitAskingData(); }
        this.lastScrollPosition = value.scrollTop || 0;
        return this.scrollRef.getPosition().scrollTop;
    }

    emitAskingData () {
        const scrollHeight = ( this.scrollRef as any ).$refs.scrollContent.scrollHeight;
        const scrollPosition = this.scrollRef.getPosition().scrollTop + ( this.scrollRef as any ).$el.scrollHeight;
        this.onScroll( scrollHeight, scrollPosition, this.pixelsFromBottom );
    }

    @Emit()
    askingData () {}
}

</script>

<style lang="scss" scoped>
</style>
