<template>
    <div class="container-card-right">
        <avatar
            :picture="picture"
            class="avatar-profile"
            :avatar-mobile-size="avatarMobileSize"
            :avatar-desktop-size="avatarDesktopSize"
            :is-category="isCategory"
        />
        <div class="content-card">
            <div v-if="interested" class="content-text-interested">
                <div class="header-name">
                    <span class="name-interested">
                        <a href="">
                            {{ data }}
                        </a>
                    </span>
                </div>
                <span class="extra-label" :style="{color}"> {{ label }} </span>
                <slot name="content" />
            </div>
            <div v-else class="content-text">
                <div class="header-name">
                    <span class="name" :style="{color}"> {{ data }} </span>
                </div>
                <span class="extra-label" :style="{color}"> {{ label }} </span>
                <slot name="content" />
            </div>
            <v-menu v-if="menuItems" bottom left>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                    >
                        <v-icon>{{ iconRight }}</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item
                        v-for="(item, i) in menuItems"
                        :key="i"
                        @click="$emit('menuClick', item.action)"
                    >
                        <v-list-item-icon>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title> {{ item.title }} </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';
import Avatar from '@/components/commons/Avatar.vue';
import { OfferMenuItems } from '@/utils/interfaces';

@Component( {
    components: {
        Avatar
    }
} )
export default class ThumbnailCard extends Vue {
    @Prop( {} ) data: any;
    @Prop( {} ) label: any;
    @Prop( {} ) picture: any;
    @Prop( {} ) menuItems: Array<OfferMenuItems> | null;
    @Prop( { default: false } ) isCategory: boolean;
    @Prop( { default: false } ) interested: boolean;
    @Prop( { default: 'mdi-shield' } ) icon: string;
    @Prop( { default: '53px' } ) size: any;
    @Prop( { default: '#fff' } ) color: string;
    @Prop( { default: 'false' } ) textRight: boolean;
    @Prop( { default: '97px' } ) avatarMobileSize: string;
    @Prop( { default: '229px' } ) avatarDesktopSize: string;
    @Prop( { default: '#4A4A4A' } ) colorIcon: string;
    @Prop( { default: 'mdi-dots-vertical' } ) iconRight: string;
}

</script>

<style lang="scss" scoped>
.avatar-profile {
    width: auto;
}

.name-user {
    display: flex;
    font-weight: 600;
    width: auto;
}

.extra-label {
    display: flex;
    font-size: 0.8em;
}

.container-card-right {
    display: flex;
    height: 100%;

    .content-card {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .content-text-interested {
        .header-name {
            display: flex;

            .icon {
                line-height: 0;
                margin-right: 10px;
            }

            .name-interested {
                display: flex;
                margin: 0;
                margin-left: 10px;
                width: auto;
                font-size: 1.2em;

                a {
                    color: #13AA52;
                }
            }
        }

        @include mobile {
            line-height: 1.2;
        }

        .extra-label {
            display: flex;
            font-size: 0.8em;
            margin-bottom: 0;
            margin-left: 10px;
            color: #4A4A4A !important;
        }
    }

    .content-text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-left: 15px;

        .header-name {
            display: flex;

            .icon {
                line-height: 0;
                margin-right: 5px;
            }

            .name {
                display: flex;
                font-weight: 600;
                margin: 0;
                width: auto;
                font-size: 1em;
                color: #4A4A4A !important;
            }
        }

        @include mobile {
            line-height: 1.2;
        }

        .extra-label {
            display: flex;
            font-size: 0.8em;
            margin-bottom: 0;
            color: #4A4A4A !important;
        }
    }
}
</style>
