<template>
    <span class="title">{{title}}</span>
</template>

<script lang="ts">
import { Component, Prop, Model, Watch, Vue } from 'nuxt-property-decorator';

@Component( {
    components: {
    }
} )
class TitleMain extends Vue {
    @Prop() title: string;
}

export default TitleMain;
</script>

<style lang="scss" scoped>
.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: $primary;
    font-size: 2.1em !important ;
}
</style>
