<template>
    <div class="container-card-interested">
        <div class="header">
            <avatar
                class="avatar-profile"
                :avatar-mobile-size="avatarMobileSize"
                :avatar-desktop-size="avatarMobileSize"
            />
            <div class="header-name">
                <span class="name-interested">
                    <a :href="`/profile/${user.id}`">
                        {{ `${user.nombres} ${user.apellidos}` }}
                    </a>
                    <span class="extra-label" :style="{color}"> {{ label }} </span>
                </span>
                <v-icon  class="icon" @click="option">
                    {{ icon }}
                </v-icon>
            </div>
        </div>
        <div class="data-content" v-if="showContact">
            <div class="phone">
                <v-icon class="icon">
                    mdi-phone
                </v-icon>
                <span>
                    {{ user.celular }}
                </span>
            </div>
            <div class="email">
                <v-icon class="icon">
                    mdi-email
                </v-icon>
                <span>
                    {{ user.correo }}
                </span>
            </div>
        </div>
        <v-divider class="line"></v-divider>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator';
import RipuyButton from '@/components/commons/RipuyButton.vue';
import Avatar from '@/components/commons/Avatar.vue';
import { interesados_interesados_interesados } from 'ripuy-request';

@Component( {
    components: {
        Avatar,
        RipuyButton
    }
} )
export default class UserCard extends Vue {
    @Prop( {} ) user: any;
    @Prop( {} ) label: string;
    @Prop( {} ) picture: any;
    @Prop( { default: false } ) interested: boolean;
    @Prop( { default: '53px' } ) size: any;
    @Prop( { default: '#fff' } ) color: string;
    @Prop( { default: '47px' } ) avatarMobileSize: string;
    @Prop( { default: '#4A4A4A' } ) colorIcon: string;
    @Prop( { default: 'mdi-chevron-down' } ) icon: string;
    showContact: boolean = false;
    contact: boolean = false;

    option () {
        this.showContact = !this.showContact;
        this.contact = this.showContact;
    }
}
</script>
<style lang="scss" scoped>
.phone {
    margin-top: 20px;
    color: #13AA52;
    .icon {
        color: #13AA52;
        margin-right: 5px;
    }
}
.email {
    margin-top: 5px;
    color: #13AA52;
    margin-bottom: 25px;
    .icon {
        color: #13AA52;
        margin-right: 5px;
    }
}

.avatar-profile {
    width: auto;
    background-image: url('@/assets/img/defaultProfile.png');
}

.container-card-interested {
    display: flex;
    flex-direction: column;
    width: auto !important;
    @include desktop {
        width: 350px !important;
    }

    .data-content {
        margin-left: 53px;
    }

    .header {
        display: flex;
        

        .header-name {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .name-interested {
                display: flex;
                flex-direction: column;
                font-size: 0.9em;

                a {
                    color: #13AA52;
                    margin-left: 10px;
                }
            }

            .icon {
                
            }
        }
    }

    .extra-label {
        display: flex;
        font-size: 0.8em;
        margin-bottom: 0;
        margin-left: 10px;
        color: #4A4A4A !important;
    }

}

   
.line  {
    margin-top:10px;
    color: $textColor;
}
</style>
