<template>
    <div
        class="change-container"
    >
        <user-card v-if="user" :user="user" label="Egresado" />
        <ripuy-button
            :color="'#F7F7F7'"
            :title="'Información Personal'"
            color-text="#000"
            :icon-left="icons.personal"
            :icon-right="icons.chevron"
            justify="space-between"
            padding-button="30px 10px"
            class="personal"
            :disabled="!isAuthorized"
            @click="click(`/personal-information?id=${user.id}`)"
        />
        <ripuy-button
            :color="'#F7F7F7'"
            :title="'Información Académica'"
            color-text="#000"
            :icon-left="icons.academic"
            :icon-right="icons.chevron"
            justify="space-between"
            padding-button="30px 10px"
            class="personal"
            :disabled="!isAuthorized"
            @click="click(`/academic-information?id=${user.id}`)"
        />
        <ripuy-button
            :color="'#F7F7F7'"
            :title="'Información Laboral'"
            color-text="#000"
            :icon-left="icons.professional"
            :icon-right="icons.chevron"
            justify="space-between"
            padding-button="30px 10px"
            class="personal"
            :disabled="!isAuthorized"
            @click="click(`/working-information?id=${user.id}`)"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { CLIENT, egresado_egresado } from 'ripuy-request';
import TitleMain from '~/components/commons/TitleMain.vue';
import RipuyButton from '~/components/commons/RipuyButton.vue';
import UserCard from '~/components/commons/UserCard.vue';

@Component( {
    components: {
        RipuyButton,
        TitleMain,
        UserCard
    }
} )

class Profile extends Vue {
    user: egresado_egresado |null = null;
    icons: Record<string, string> = {
        personal: 'mdi-account',
        academic: 'mdi-school',
        professional: 'mdi-briefcase',
        chevron: 'mdi-chevron-right'
    }

    isAuthorized: boolean = true;

    mounted () {
        this.loadData();
    }

    async loadData () {
        const id = this.$route.params.id;
        try {
            const { egresado } = await this.$apiClient.personal.egresado(
                { where: { id } },
                { client: CLIENT.CODE }
            );
            if ( egresado ) {
                this.user = egresado;
            }
        } catch ( error ) {
            if ( new RegExp( /\bUser not authorized\b/ ).test( error.message ) ) {
                this.isAuthorized = false;
                this.$Swal( 'info', 'El usuario no ha dado permisos para editar su información', 5000 );
            }
        }
    }

    click ( path: string ) {
        this.$router.push( path );
    }
}

export default Profile;
</script>

<style lang="scss" scoped>
.change-container {
    display: flex;
    flex-flow: column;
    margin-top:80px;
    padding: 10px;
}

.password {
    color: #000;
    text-decoration: none !important;
    margin-top: 20px;
}

.end {
    margin-top: 10px;
}
</style>
