<template>
    <div>
        <v-sheet
            v-show="menu"
            class="position"
            color="#13AA52"
        >
            <v-list
                color="palette.primary"
            >
                <template
                    v-for="( item, index ) in items"
                >
                    <v-list-item v-if="index === items.length - 1 && !hasProfile" :key="`f${index}`" />
                    <v-divider v-if="index === items.length - 1 && !hasProfile" :key="`d${index}`" />
                    <v-list-item
                        v-if="item.show"
                        :key="index"
                        link
                        @click="itemClicked(item)"
                    >
                        <v-list-item-title
                            :class="{ 'item-accent': ( item.icon === 'mdi-swap-horizontal-circle' ) }"
                        >
                            <v-icon
                                :class="{
                                    'item-accent': ( item.icon === 'mdi-swap-horizontal-circle' ),
                                    'icon': true
                                }"
                                v-text="item.icon"
                            />
                            {{ item.name }}
                        </v-list-item-title>
                    </v-list-item>
                </template>
            </v-list>
        </v-sheet>
    </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'nuxt-property-decorator';
import cssExports from '~/assets/css/palette.scss';
import { MenuOptions } from '@/utils/interfaces';


@Component( {} )
export default class dropDownMenu extends Vue {
    @Prop( { } ) hasProfile: boolean;
    @Prop( { } ) items:MenuOptions
    @Prop( { default: false } ) menu:boolean
    palette = cssExports

    itemClicked ( item: MenuOptions ) {
        if ( item.event ) {
            this.$emit( item.event );
        }
        if ( item.path || item.id ) {
            this.$router.push( { name: item.path || '', hash: item.id || '' } );
        }
    }
}
</script>

<style lang="scss" scoped>

.position{
    position: fixed;
    top: 56px;
    right: 0;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !important;
    width: 200px;
    height: auto;
    padding-bottom: 5px;
}
.icon{
  margin-right: 12px;
}
.item-accent {
    color: $secondary!important;
}
</style>
