<template>
    <div :style="{backgroundColor: background}">
        <div
            v-click-outside="closeMenu"
            class="wrapper"
            @click="openCloseMenu"
        >
            <avatar
                class="avatar-profile"
                :avatar-desktop-size="'36px'"
                :avatar-mobile-size="'36px'"
                :picture="image"
            />
            <!-- TODO: change colors on each state -->
            <div class="no-wrap">
                <div
                    v-if="profile && profile.nombres"
                    :style="{color: colorName}"
                    class="username"
                >
                    <span>{{ profile.nombres }}</span>
                    <span>{{ profile.role }}</span>
                </div>
                <div
                    v-else
                >
                    <v-icon
                        v-if="withMenuOptions"
                        :color="'#000'"
                        v-text="'mdi-chevron-down'"
                    />
                </div>
            </div>
        </div>
        <drop-down-menu
            v-if="withMenuOptions"
            ref="avatarOptions"
            :items="items"
            :menu="menu"
            :color="fontColor"
            :has-profile="!!profile"
        />
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'nuxt-property-decorator';
import Avatar from '~/components/commons/Avatar.vue';
import DropDownMenu from '~/components/header/desktop/DropDownMenu.vue';
import { MenuOptions } from '@/utils/interfaces';

@Component( {
    components: {
        Avatar,
        DropDownMenu
    }
} )
export default class HeaderAvatar extends Vue {
    // TODO: remove any
    @Prop( { } ) profile: any;
    @Prop( { } ) image: string | null
    @Prop( { default: '#885BB3' } ) fontColor: string
    @Prop( { } ) items: MenuOptions[]
    @Prop( { default: true } ) withMenuOptions: boolean;
    @Prop( { default: 'white' } ) colorDescription: string;
    @Prop( { default: '#4a4a4a' } ) colorName: string;
    @Prop( { default: '#885BB3' } ) background: string;
    @Prop( { default: false } ) menu: boolean

    // menu: boolean = false

    mounted () {
        this.addListeners();
    }

    addListeners ( ) {
        const ref: any = this.$refs.avatarOptions;

        if ( this.items ) {
            this.items.filter( ( item: MenuOptions ) => item.event ).forEach( ( item: MenuOptions ) => {
                if ( ref ) {
                    ref.$on( item.event, () => {
                        this.$emit( item.event || '' );
                    } );
                }
            } );
        }
    }

    openCloseMenu () {
        this.$emit( 'openCloseMenu' );
    }

    closeMenu () {
        this.$emit( 'closeMenu' );
    }

    @Watch( 'menu' )
    emitMenuState () {
        this.$emit( 'menuState', this.menu );
    }
}

</script>

<style lang="scss" scoped>
.avatar-profile {
    width: auto;
    background-image: url('@/assets/img/defaultProfile.png');
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
  cursor: pointer;
}
.position{
  top: 56px !important;
  right: 0 !important;
}
.no-wrap{
    white-space: nowrap;
    margin-left: 12px;
}
.username{
      font-style: normal;
      display: flex;
      flex-flow:column;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      width: auto;
  }
.description{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}
</style>
